<div class="image-arriere">

</div>
<div class="entete contenu">
    <h1 class="fg-white" style="margin-top:5vh">
        <b style="text-transform: uppercase; font-size: 1.2em;">
            Présentation
        </b>
    </h1>
</div>
<div class="contenu" style="margin-top: -5vh;">

    <div class="row">
        <div class="cell-lg-9">

            <div class="racontage" style="width: 98%;">
                <p class="text-leader2 text-just">

                    La Fondation Privée Samuel Eto’o a été constituée le 17 mars 2006 dans l’intention de réunir toutes
                    les activités réalisées, depuis des années, dans différentes villes du Cameroun par Samuel Eto’o et
                    un groupe d’amis.


                </p>
                <p class="text-leader2 text-just">
                    Jusqu’à ce jour, la Fondation est leader dans toute une série de projets associés à la
                    scolarisation, l’éducation, la coopération et le développement de l’enfance au Cameroun, en
                    utilisant le football comme un outil d’intégration social.
                </p>
                <h4>
                    Une action sociale avant tout, pour répondre à l’urgence de la situation
                </h4>
                <p class="text-leader2 text-just">
                    Lorsque l’on fait un bilan de ces 13 années d’activité, force est de constater que les résultats
                    sont au
                    rendez-vous.
                </p>
                <p class="text-leader2 text-just">
                    Au-delà du domaine sportif, ce sont des milliers de jeunes africains qui ont eu l’opportunité de
                    s’épanouir
                    socialement, culturellement grâce aux travaux de la Fondation. Sachant pertinemment que tous ne
                    pourront
                    devenir un jour sportif professionnel, la Fondation veille à leur insertion professionnelle en
                    offrant
                    chaque année 80 bourses aux meilleurs étudiants de l’Université de Yaoundé II. Cela permet
                    d’encourager la
                    jeunesse camerounaise à s’émanciper dans les études, lorsque le sport est passé au second plan. Pour
                    cela,
                    du matériel informatique a par exemple été apporté grâce aux dons perçus par l’organisme
                    camerounais. De
                    plus, de nombreux enfants ont pu être soignés ce qui était dans certains cas impossible avant la
                    création de
                    la Fondation.
                </p>
                <p class="text-leader2 text-just">
                    Pour en revenir au football, les centres de formation issus de la Fondation Eto’o offrent une
                    formation
                    gratuite au sein d’infrastructures regroupant un centre d’accueil et une école également gratuite.
                    Le
                    leitmotiv de ces centres est de rendre chacun important et nécessaire que ce soit sur les bancs de
                    l’école
                    ou sur le rectangle vert. Chaque année, des compétitions sont organisées entre les centres et les
                    meilleurs
                    sont retenus pour participer à des tournois à l’international, notamment ceux organisés par le
                    Barça,
                    l’ancien club d’Eto’o.
                </p>
            </div>
        </div>
        <div class="cell-lg-3">
            <div class="image-box">
                <div class="image">
                    <img class="shadow-1" src="../../../../assets/img/logo.png" style="width: 100%;">
                </div>
                <div class="image" style="margin-top: 3vh;">
                    <img class="shadow-1" src="../../../../assets/img/fifa1.jpg" style="width: 100%;">
                </div>
                <div class="image" style="margin-top: 3vh;">
                    <img class="shadow-1" src="../../../../assets/img/fifa3.jpg" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="image-arriere">

</div>
<div class="entete contenu">
    <h1 class="fg-white text-center" style="margin-top:0vh">
        <b style="text-transform: uppercase; font-size: 1.2em;">
            Nos activités
        </b>
    </h1>
</div>
<div class="activites text-center">
    <p class="text-leader2">
        Notre objectif principal est de protéger l’enfance et la jeunesse, en apportant des aides d’urgence et en
        encourageant l’éducation, la santé de base et l'intégration sociale par le sport pour les plus défavorisés, afin
        de les aider à construire des opportunités pour l'avenir
    </p>
    <div class="row text-center">
        <div class="cell-lg-4">
            <div class="activite bd-blue fg-blue">
                <h1>
                    Sport
                </h1>
                <div class="fg-dark" style="margin-top: 2vh; font-weight: 100;">
                    Encourager la possibilité de développer les capacités individuelles de tous les enfants au moyen de
                    bourses de formation et d'aides aux activités culturelles ou en soutenant leurs habiletés sportives.
                </div>
            </div>
        </div>
        <div class="cell-lg-4">
            <div class="activite fg2" style="border: 1px solid #3a660e;">
                <h1 class="fg2">
                    Santé
                </h1>
                <div class="fg-dark" style="margin-top: 2vh; font-weight: 100;">
                    Garantir un minimum de conditions de survie et de santé, celles qui permettent un développement
                    ultérieur, dans le cadre de notre lutte pour l’éradication de la pauvreté.
                </div>
            </div>
        </div>
        <div class="cell-lg-4">
            <div class="activite bd-orange fg-orange">
                <h1>
                    Education
                </h1>
                <div class="fg-dark" style="margin-top: 2vh; font-weight: 100;">
                    Offrir une éducation de base de qualité, qu'ils puissent compléter et utiliser comme un outil pour
                    parvenir à une intégration sociale sûre.
                </div>
            </div>
        </div>
    </div>
</div>