<div class="image-arriere">

</div>
<div class="entete contenu">
    <h1 class="fg-white" style="margin-top:5vh">
        <b style="text-transform: uppercase; font-size: 1.2em;">
            Carrière
        </b>
    </h1>
</div>
<div class="contenu" style="margin-top: -30vh;">
    <div style="min-height: 100vh;">
        <div class="row">
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                Début difficile a Madrid
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p>
                            Du haut de ses 15 ans, Samuel Eto’o son premier contrat professionnel pour le prestigieux
                            club espagnol et évoluera une première saison en Segunda avec la Castilla (l’équipe B du
                            Real) en 1996.
                        </p>
                        <div class="stats" style="">
                            <b>
                                Matchs joués : 6 matchs joués
                                <br>
                                Nombre de buts : 0 but
                            </b>
                        </div>

                        <div>
                            <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                data-bullets-position="right" data-duration="500" data-period="3000" data-height="4/3"
                                data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                <div class="slide" data-cover="../../../../assets/img/r1.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/r2.jpg"></div>
                            </div>
                        </div>

                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza" (click)="ouvrir('1')">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                Prêt a Léganes
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p>
                            Question d’aguerrir le jeune prodige, Samuel Eto'o est prêté au CD Leganés lors de la saison
                            1997-1998, qui évolue alors en 2e division espagnole. Il y fait ses débuts le 30 août 1997
                            et marque son premier but quelques jours plus tard.
                        </p>

                        <div class="stats" style="">
                            <b>
                                Matchs joués : 28 matchs joués
                                <br>
                                Nombre de buts : 3 buts
                            </b>
                        </div>

                        <div>
                            <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                data-bullets-position="right" data-duration="500" data-period="3000" data-height="4/3"
                                data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                <div class="slide" data-cover="../../../../assets/img/l1.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/l2.jpg"></div>
                            </div>
                        </div>

                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza"  (click)="ouvrir('2')">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                Retour à Madrid
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p>
                            EEto'o retourne au Real Madrid, lors de la saison 1998-1999, et est prêter lors la seconde
                            partie de saison pour prêté six mois à l'Espanyol.
                            Il revient tout de même au Réal Madrid pour l’exercice 1999-2000 avant d’être vendu à
                            Majorque.

                        </p>

                        <div class="stats" style="">
                            <b>
                                Matchs joués : 0 match joué
                                <br>
                                Nombre de buts : 0 but
                            </b>
                        </div>

                        <div>
                            <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                data-bullets-position="right" data-duration="500" data-period="3000" data-height="4/3"
                                data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                <div class="slide" data-cover="../../../../assets/img/r3.jpg"></div>
                            </div>
                        </div>


                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza"  (click)="ouvrir('3')">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                Révélation à Mallorque
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p>
                            En janvier 2000, Eto’o est transféré à Majorque sous forme de prêt avec option d’achat. Ce
                            prêt se révélera déterminant dans la suite de la carrière du jeune prodige.
                        </p>


                        <div class="stats" style="">
                            <b>
                                Matchs joués : 165 matchs joués
                                <br>
                                Nombre de buts : 70 buts
                            </b>
                        </div>

                        <div>
                            <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                data-bullets-position="right" data-duration="500" data-period="3000" data-height="4/3"
                                data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                <div class="slide" data-cover="../../../../assets/img/maj1.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/maj2.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/maj3.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/maj4.jpg"></div>
                            </div>
                        </div>

                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza"  (click)="ouvrir('4')">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                FC BARCELONE
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p>
                            Après une difficile négociation entre Majorque, le Real Madrid et FC Barcelone, Samuel est
                            finalement transféré au club catalan à l'été 2004 pour 24 millions d'euros.
                        </p>
                        <div class="stats" style="">
                            <b>
                                Matchs joués : 199 matchs joués
                                <br>
                                Nombre de buts : 139 buts
                            </b>
                        </div>


                        <div>
                            <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                data-bullets-position="right" data-duration="500" data-period="3000" data-height="4/3"
                                data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                <div class="slide" data-cover="../../../../assets/img/b1.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/b2.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/b3.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/b4.jpg"></div>
                            </div>
                        </div>

                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza"  (click)="ouvrir('5')">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                Internazionale Milan
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p>
                            Le 27 juillet 2009, en échange de Zlatan Ibrahimović et de 46 millions d'euros, Eto'o signe
                            un contrat de cinq ans avec l'Inter Milan. Il touche un salaire annuel de 10,5 millions
                            d’euros et des primes diverses évaluées à 3 millions d’euros, faisant de lui le footballeur
                            le mieux payé en Italie.
                        </p>
                        <div class="stats" style="">
                            <b>
                                Matchs joués : 162 matchs joués
                                <br>
                                Nombre de buts : 53 buts
                            </b>
                        </div>



                        <div>
                            <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                data-bullets-position="right" data-duration="500" data-period="3000" data-height="4/3"
                                data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                <div class="slide" data-cover="../../../../assets/img/i1.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/i2.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/i3.jpg"></div>
                            </div>
                        </div>

                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza"  (click)="ouvrir('6')">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                ANZHI MAKACHKALA
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p>
                            Le 19 août 2011, Samuel Eto'o est transféré pour 27 millions d'euros à l'équipe caucasienne
                            du FK Anji Makhatchkala évoluant dans le championnat russe. Le joueur s'engage pour un
                            contrat de trois ans qui lui rapporte 20,5 millions d'euros net par an (plus 20 000 € par
                            but et 10 000 € par passe décisive) devenant le footballeur le mieux payé de la planète.
                        </p>
                        <div class="stats" style="">
                            <b>
                                Matchs joués : 73 matchs joués
                                <br>
                                Nombre de buts : 36 buts
                            </b>
                        </div>

                        <div>
                            <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                data-bullets-position="right" data-duration="500" data-period="3000" data-height="4/3"
                                data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                <div class="slide" data-cover="../../../../assets/img/a1.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/a2.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/a3.jpg"></div>
                            </div>
                        </div>


                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza"  (click)="ouvrir('7')">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                RETOUR EN EUROPE, CHELSEA(2013-2014)
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p>
                            Le 29 août 2013, Samuel Eto'o signe un contrat d'un an et un salaire annuel de huit millions
                            d'euros avec le Chelsea Football Club, rejoignant ainsi son ancien entraîneur de l'Inter,
                            José Mourinho.
                        </p>
                        <div class="stats" style="">
                            <b>
                                Matchs joués : 35 matchs joués
                                <br>
                                Nombre de buts : 12 buts
                            </b>
                        </div>

                        <div>
                            <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                data-bullets-position="right" data-duration="500" data-period="3000" data-height="4/3"
                                data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                <div class="slide" data-cover="../../../../assets/img/chel1.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/chel2.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/chel3.jpg"></div>
                            </div>
                        </div>


                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza"  (click)="ouvrir('8')">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                Signature everton
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p>
                            Le 26 août 2014, libre de tout contrat, Samuel Eto'o s'engage pour deux ans avec Everton où
                            il porte le numéro 5, habituellement porté par les défenseurs.
                        </p>
                        <div class="stats" style="">
                            <b>
                                Matchs joués : 20 matchs joués
                                <br>
                                Nombre de buts : 4 buts
                            </b>
                        </div>

                        <div>
                            <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                data-bullets-position="right" data-duration="500" data-period="3000" data-height="4/3"
                                data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                <div class="slide" data-cover="../../../../assets/img/e1.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/e2.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/e3.jpg"></div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza"  (click)="ouvrir('9')">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                Expérience italienne (2014-2015)
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p>
                            Le 18 janvier 2015, Eto'o se met d'accord avec le club italien de l'UC Sampdoria dans le
                            cadre d'un transfert dès le mercato hivernal. Le transfert est rendu officiel le 24 janvier.
                            À Gênes, l'attaquant porte le no 99.
                        </p>
                        <div class="stats" style="">
                            <b>
                                Matchs joués : 18 matchs joués
                                <br>
                                Nombre de buts : 2 buts
                            </b>
                        </div>

                        <div>
                            <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                data-bullets-position="right" data-duration="500" data-period="3000" data-height="4/3"
                                data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                <div class="slide" data-cover="../../../../assets/img/samp1.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/samp2.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/samp3.jpg"></div>
                            </div>
                        </div>

                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza"  (click)="ouvrir('10')">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                Antalyaspor (2015-2018)
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p>
                            Le 25 juin 2015, il rejoint Antalyaspor, club de première division en Turquie avec qui il
                            signe 3 ans de contrat.
                        </p>

                        <div class="stats" style="">
                            <b>
                                Matchs joués : 77 matchs joués
                                <br>
                                Nombre de buts : 44 buts
                            </b>
                        </div>

                        <div>
                            <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                data-bullets-position="right" data-duration="500" data-period="3000" data-height="4/3"
                                data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                <div class="slide" data-cover="../../../../assets/img/ant1.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/ant2.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/ant3.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/ant4.jpg"></div>
                            </div>
                        </div>

                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza"  (click)="ouvrir('11')">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                Konyaspor
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p>
                            Après avoir résilié à l’amiable son contrat le 31 Janvier 2018, il rejoint le club rival de
                            Konyaspor, où il signe un contrat de deux ans et demi.
                        </p>

                        <div class="stats" style="">
                            <b>
                                Matchs joués : 14 matchs joués
                                <br>
                                Nombre de buts : 6 buts
                            </b>
                        </div>

                        <div>
                            <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                data-bullets-position="right" data-duration="500" data-period="3000" data-height="4/3"
                                data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                <div class="slide" data-cover="../../../../assets/img/kon1.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/kon2.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/kon3.jpg"></div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza"  (click)="ouvrir('12')">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                Qatar SC (2018-2019)
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p>
                            Le 13 août 2018, il signe un contrat le Qatar Sports Club. Le 5 octobre, après sept
                            matchs d'insuccès, son équipe s'impose contre Al Kharitiyath, avec une réalisation d'Eto'o.
                        </p>

                        
                        <div class="stats" style="">
                            <b>
                                Matchs joués : 21 matchs joués
                                <br>
                                Nombre de buts : 9 buts
                            </b>
                        </div>

                        <div>
                            <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                data-bullets-position="right" data-duration="500" data-period="3000" data-height="4/3"
                                data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                <div class="slide" data-cover="../../../../assets/img/q1.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/q2.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/q3.jpg"></div>
                            </div>
                        </div>

                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza"  (click)="ouvrir('13')">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                Vers un nouveau défi
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p>
                            Le 6 septembre 2019, âgé de 38 ans, Samuel Eto'o annonce qu'il met un terme à sa carrière de
                            footballeur, en déclarant « The End, vers un nouveau défi »
                        </p>

                        
                        <div class="stats" style="">
                            <b>
                                Matchs joués : 758 matchs joués
                                <br>
                                Nombre de buts : 378 buts
                            </b>
                        </div>

                        <div>
                            <img src="../../../../assets/img/bye.jpeg"
                                style="min-width: 100%; max-width: 150%; max-height: 100%;">
                        </div>

                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza"  (click)="ouvrir('14')">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>