<div class="image-arriere">

</div>
<div class="entete contenu">
    <h1 class="fg-white" style="margin-top:5vh">
        <b style="text-transform: uppercase; font-size: 1.2em;">
            Historique de la fondation
        </b>
    </h1>
</div>
<div class="contenu" style="margin-top: -20vh;">
    <div class="image-box">
        <div class="image">
            <img class="shadow-1" src="../../../../assets/img/logo.png" style="height: 20vh;">
        </div>
    </div>
    <div class="racontage" style="width: 80%;">
        <p class="text-leader2 text-just">

            La Fondation Samuel Eto’o est une organisation à but non lucratif qui oeuvre essentiellement en Afrique de
            l’Occidentale. Elle a pour mission d’aider et de soigner la jeunesse, présente dans cette région du monde où
            les conditions de vie sont précaires.
        </p>
        <p class="text-leader2 text-just">
            En effet, l’éducation est souvent chère et le manque de transports ne facilite pas son accès. Envoyer ses
            enfants à l’école est également un choix puisqu’il contraint les familles à se passer de la main d’oeuvre
            que représente leur enfant. C’est pour répondre à cette problématique, que la Fondation Eto’o a ouvert
            plusieurs centres de formation « Fundesport » au Cameroun et un autre au Gabon pour offrir à des jeunes
            défavorisés une éducation gratuite, axée tant sur le sport que sur l’école. L’organisme n’a voulu laisser
            personne en chemin comme en atteste ses actions en faveur des handicapés mentaux et des orphelins.
        </p>
        <h4>
            Une action sociale avant tout, pour répondre à l’urgence de la situation
        </h4>
        <p class="text-leader2 text-just">
            Lorsque l’on fait un bilan de ces 13 années d’activité, force est de constater que les résultats sont au
            rendez-vous.
        </p>
        <p class="text-leader2 text-just">
            Au-delà du domaine sportif, ce sont des milliers de jeunes africains qui ont eu l’opportunité de s’épanouir
            socialement, culturellement grâce aux travaux de la Fondation. Sachant pertinemment que tous ne pourront
            devenir un jour sportif professionnel, la Fondation veille à leur insertion professionnelle en offrant
            chaque année 80 bourses aux meilleurs étudiants de l’Université de Yaoundé II. Cela permet d’encourager la
            jeunesse camerounaise à s’émanciper dans les études, lorsque le sport est passé au second plan. Pour cela,
            du matériel informatique a par exemple été apporté grâce aux dons perçus par l’organisme camerounais. De
            plus, de nombreux enfants ont pu être soignés ce qui était dans certains cas impossible avant la création de
            la Fondation.
        </p>
        <p class="text-leader2 text-just">
            Pour en revenir au football, les centres de formation issus de la Fondation Eto’o offrent une formation
            gratuite au sein d’infrastructures regroupant un centre d’accueil et une école également gratuite. Le
            leitmotiv de ces centres est de rendre chacun important et nécessaire que ce soit sur les bancs de l’école
            ou sur le rectangle vert. Chaque année, des compétitions sont organisées entre les centres et les meilleurs
            sont retenus pour participer à des tournois à l’international, notamment ceux organisés par le Barça,
            l’ancien club d’Eto’o.
        </p>
    </div>
</div>