<div class="image-arriere">

</div>
<div class="entete contenu">
    <h1 class="fg-white" style="margin-top:3vh">
        <b style="text-transform: uppercase; font-size: 1.2em;">
            Réalisations
        </b>
    </h1>
    <div class="fg-white text-leader" style="margin-top: -15px;">
        Développement communautaire
    </div>
</div>
<div style="min-height: 100vh;">
    <div class="projets">
        <div class="row">
            <div class="cell-lg-4">
                <div class="projet">
                    <div class="image">
                        <div class="interne">
                            <img src="../../../../assets/img/mawel.png" style="width: 100%;">
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        2009
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Route de Mawel
                        </h4>
                        <p class="texte" style="">

                            Projet “Programme d’amélioration de l’infrastructure communautaire” Fiche
                            technique: Ville, pays : Mawel, Cameroun Bénéficiaires : Montant total...
                        </p>
                        <p class="text-just">
                            La Fondation Privée Samuel Eto’o a restauré la route qui mène à la localité de Mawel, située à 30 km de Yaoundé.
Amélioration de l’infrastructure communautaire

                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-lg-8">
                <div class="projet">
                    <div class="image">
                        <div class="interne">
                            <img src="../../../../assets/img/mawel.png" style="width: 100%;">
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        2009
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Amélioration de l’infrastructure communautaire
                        </h4>
                        <p class="texte" style="">

                            Ville, pays : Centre-Littoral-Est et Littoral Nord-Ouest. Cameroun
                            Bénéficiaires :
                            Montant total : 50.000 euros
                            Cofinanceur :
                            Résultat :
                            Date de réalisation : 2012
                            Durée : 1 an

                        </p>
                        <p class="text-just">
                            <b>Approvisionnement et assainissement</b> : Avoir de l'eau potable à disposition et des systèmes
                            d’assainissement adéquats est quelque chose d’essentiel pour le développement des
                            communautés, particulièrement pour les enfants. C’est pourquoi nous avons développé un
                            programme de construction de 10 forages dans les régions du littoral est, central et du
                            nord-ouest.
                            <br>
                            <b>Accessibilité</b> : Nous proposons en outre la construction de petits ponts dans cinq quartiers
                            de Douala pour faciliter l’accès à la communauté.
                            <br>
                            <b>Électrification rurale</b> : Soutien de l’électrification dans cinq villages de la
                            Sanaga-Maritime et autres.

                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>