<div class="image-arriere">

</div>
<div class="entete contenu">
    <h1 class="fg-white" style="margin-top:5vh">
        <b style="text-transform: uppercase; font-size: 1.2em;">
            Vie de famille
        </b>
    </h1>
</div>
<div class="parties">
    <div class="partie">
        <div class="row">
            <div class="cell-lg-6">
                <div class="partie-texte">
                    <h2 style="margin-top: 0;">
                        Samuel Eto’o, le fils
                    </h2>
                    <div class="souligne"></div>
                    <p class="text-leader2 text-just">
                        Samuel Eto’o est né le 10 mars 1981 à Nkon, dans la banlieue de Yaoundé. Il est issue d’un
                        mariage entre son père Etienne Eto’o qui fut comptable, et sa mère Christine Eto’o commerçante.
                    </p>
                </div>
            </div>
            <div class="cell-lg-6 hauteur">
                <div class="partie-image" style="background-image: url('../../../../assets/img/parents.png');">
                </div>
            </div>
        </div>
    </div>
    <div class="partie">
        <div class="row">
            <div class="cell-lg-6 hauteur">
                <div class="partie-image2" style="background-image: url('../../../../assets/img/femme2.jpg');">
                    <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true" data-controls="false"
                        data-bullets="false" data-cls-controls="fg-white" data-bullets-position="right"
                        data-duration="500" data-period="3000" data-height="4/3"
                        data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                        data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                        <div class="slide" data-cover="../../../../assets/img/femme2.jpg"></div>
                        <div class="slide" data-cover="../../../../assets/img/femme3.jpg"></div>
                        <div class="slide" data-cover="../../../../assets/img/femme4.jpg"></div>
                        <div class="slide" data-cover="../../../../assets/img/femme5.jpg"></div>
                        <div class="slide" data-cover="../../../../assets/img/femme6.jpg"></div>
                    </div>
                </div>
            </div>
            <div class="cell-lg-6">
                <div class="partie-texte">
                    <h2 style="margin-top: 0;">
                        Samuel Eto’o, le mari
                    </h2>
                    <div class="souligne"></div>
                    <p class="text-leader2 text-just">
                        D’origine Ivoirienne, Tra Lou Thanan Georgette Nicole est devenu Georgette Eto’o en 2007 suite à
                        son mariage civile et traditionnel avec Samuel Eto’o.
                    </p>
                    <p class="text-leader2 text-just">
                        Le 14 Juin 2016, soit 10 ans plus tard, ils officièrent leur mariage religieux en Italie dans la
                        petite ville de Stezzano qui a été béni par le pape. Père de 4 ans enfants, ils ont été les
                        géniteurs deux filles parmi ceux-ci.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="partie" style="margin-top: 0px;">
        <div class="row">
            <div class="cell-lg-6">
                <div class="partie-texte">
                    <h2 style="margin-top: 0;">
                        Samuel Eto’o, le père
                    </h2>
                    <div class="souligne"></div>
                    <p class="text-leader2 text-just">
                        Samuel Eto’o est père de cinq enfants donc deux garçons et trois filles : Etienne Eto’o et
                        Maelle
                        Eto’o sont ses garcons et Siena Eto’o, Lynn Eto’o et Annie Eto’o sont ses filles.
                    </p>
                </div>
            </div>
            <div class="cell-lg-6 hauteur">
                <div class="partie-image2">
                    <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true" data-controls="false"
                        data-bullets="false" data-cls-controls="fg-white" data-bullets-position="right"
                        data-duration="500" data-period="3000" data-height="4/3"
                        data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                        data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                        <div class="slide" data-cover="../../../../assets/img/pere.png"></div>
                        <div class="slide" data-cover="../../../../assets/img/pere2.jpg"></div>
                        <div class="slide" data-cover="../../../../assets/img/pere3.jpg"></div>
                        <div class="slide" data-cover="../../../../assets/img/pere4.png"></div>
                        <div class="slide" data-cover="../../../../assets/img/pere5.jpg"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="partie">
        <div class="row">

            <div class="cell-lg-6 hauteur2">
                <div class="partie-image2" style="background-image: url('../../../../assets/img/femme2.jpg');">
                    <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true" data-controls="false"
                        data-bullets="false" data-cls-controls="fg-white" data-bullets-position="right"
                        data-duration="500" data-period="3000" data-height="4/3"
                        data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                        data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                        <div class="slide" data-cover="../../../../assets/img/frere5.jpg"></div>
                        <div class="slide" data-cover="../../../../assets/img/frere4.jpg"></div>
                        <div class="slide" data-cover="../../../../assets/img/frere4.jpg"></div>
                        <div class="slide" data-cover="../../../../assets/img/frere6.jpg"></div>
                        <div class="slide" data-cover="../../../../assets/img/frere7.jpg"></div>
                    </div>
                </div>
            </div>
            <div class="cell-lg-6">
                <div class="partie-texte">
                    <h2 style="margin-top: 0;">
                        Samuel Eto’o le frère
                    </h2>

                    <div class="souligne"></div>
                    <p class="text-leader2 text-just">
                        Samuel Eto’o est le second d’une famille de 5 enfants, avec 3 sœurs et deux frères qu’il appelle
                        affectueusement ses jumeaux. Très discrètes, Mado, Pauline et Sidonie sont les sœurs du goléador
                        Camerounais. David et Etienne Eto’o sont quant à eux les frères de Samuel.
                    </p>

                </div>
            </div>
        </div>

    </div>

</div>