<div class="image-arriere">

</div>
<div class="entete contenu">
    <h1 class="fg-white" style="margin-top:5vh">
        <b style="text-transform: uppercase; font-size: 1.2em;">
            Le lion indomptable
        </b>
    </h1>
</div>
<div class="contenu" style="margin-top: -30vh;">
    <div style="min-height: 100vh;">
        <div class="row">
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">
                        <h2>
                            <b>
                                LES DEBUTS EN COUPE DU MONDE 98
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>

                        <p>
                            Samuel Eto’o est convoqué pour ses débuts pour la coupe du monde 98. Il est ainsi le plus
                            jeune joueur du tournoi à 17 ans et 3 mois.
                        </p>

                        <div class="stats" style="line-height: 1.2;">
                            <span>
                                <b>
                                    Nombre de match joués : 44 min jouées<br>
                                    Nombre de buts : 0 buts
                                </b>
                            </span>
                        </div>

                        <div>
                            <div class="partie-image2"
                                style="background-image: url('../../../../assets/img/femme2.jpg');">
                                <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                    data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                    data-bullets-position="right" data-duration="500" data-period="3000"
                                    data-height="4/3"
                                    data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                    data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                    <div class="slide" data-cover="../../../../assets/img/cdm.jpg"></div>
                                    <div class="slide" data-cover="../../../../assets/img/lion98.png"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">
                        <h2>
                            <b>
                                PREMIERE CAN AU NIGERIA / GHANA EN 2000
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>

                        <p>
                            Samuel Eto'o est retenu pour participer à la Coupe d'Afrique des nations 2000 organisé
                            conjointement par le Nigéria et le Ghana,
                            qu’il a gagné avec la sélection nationale.
                        </p>

                        <div class="stats" style="line-height: 1.2;">
                            <span>
                                <b>
                                    Nombre de match joués : 5 matchs joués<br>
                                    Nombre de buts : 4 buts
                                </b>
                            </span>
                        </div>

                        <div>
                            <div class="partie-image2"
                                style="background-image: url('../../../../assets/img/femme2.jpg');">
                                <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                    data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                    data-bullets-position="right" data-duration="500" data-period="3000"
                                    data-height="4/3"
                                    data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                    data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                    <div class="slide" data-cover="../../../../assets/img/can.jpg"></div>
                                    <div class="slide" data-cover="../../../../assets/img/can2.jpg"></div>
                                    <div class="slide" data-cover="../../../../assets/img/can3.jpg"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">
                        <h2>
                            <b>
                                VAINQUEUR DES JEUX OLYMPIQUES SYDNEY EN 2000
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>

                        <p>
                            En septembre 2000, Eto'o participe au tournoi masculin de football aux Jeux Olympiques.
                            L'équipe du Cameroun olympique se hisse jusqu'en finale et gagne la compétition face à
                            l’Espagne.
                        </p>

                        <div class="stats" style="line-height: 1.2;">
                            <span>
                                <b>
                                    Nombre de match joués : 1 match joué<br>
                                    Nombre de buts : 1 but
                                </b>
                            </span>
                        </div>

                        <div>
                            <div class="partie-image2"
                                style="background-image: url('../../../../assets/img/femme2.jpg');">
                                <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                    data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                    data-bullets-position="right" data-duration="500" data-period="3000"
                                    data-height="4/3"
                                    data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                    data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                    <div class="slide" data-cover="../../../../assets/img/jo.jpg"></div>
                                    <div class="slide" data-cover="../../../../assets/img/jo2.jpg"></div>
                                    <div class="slide" data-cover="../../../../assets/img/jo3.jpg"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">
                        <h2>
                            <b>
                                COUPE DES CONFEDERATIONS 2001 EN COREE DU SUD
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>

                        <p>
                            En 2001, le Cameroun participe à la Coupe des confédérations mais est éliminé au premier
                            tour. Eto'o participe aux trois rencontres et fait partir tout de même de l’équipe type du
                            tournoi.
                        </p>

                        <div class="stats" style="line-height: 1.2;">
                            <span>
                                <b>
                                    Nombre de match joués : 3 matchs joués<br>
                                    Nombre de buts : 0 but
                                </b>
                            </span>
                        </div>

                        <div>
                            <div class="partie-image2"
                                style="background-image: url('../../../../assets/img/femme2.jpg');">
                                <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                    data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                    data-bullets-position="right" data-duration="500" data-period="3000"
                                    data-height="16/9"
                                    data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                    data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                    <div class="slide" data-cover="../../../../assets/img/cc.jpg"></div>
                                    <div class="slide" data-cover="../../../../assets/img/cc3.jpg"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">
                        <h2>
                            <b>
                                VAINQUEUR DE LA CAN 2002 AU MALI
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>

                        <p>
                            Au Mali en 2002, Eto'o et la sélection camerounaise conservent leur titre de 2000 en battant
                            le Sénégal au tir au but 5-3.
                        </p>

                        <div class="stats" style="line-height: 1.2;">
                            <span>
                                <b>
                                    Nombre de match joués : 6 matchs joués<br>
                                    Nombre de buts : 1 but
                                </b>
                            </span>
                        </div>

                        <div>
                            <div class="partie-image2"
                                style="background-image: url('../../../../assets/img/femme2.jpg');">
                                <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                    data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                    data-bullets-position="right" data-duration="500" data-period="3000"
                                    data-height="4/3"
                                    data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                    data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                    <div class="slide" data-cover="../../../../assets/img/can6.jpg"></div>
                                    <div class="slide" data-cover="../../../../assets/img/can5.jpg"></div>
                                    <div class="slide" data-cover="../../../../assets/img/can4.jpg"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">
                        <h2>
                            <b>
                                COUPE DU MONDE 2002
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>

                        <p>
                            Quelques mois après la CAN au Mali, Samuel Eto’o dispute sa deuxième coupe du monde en
                            Corée-Japon.
                        </p>

                        <div class="stats" style="line-height: 1.2;">
                            <span>
                                <b>
                                    Nombre de match joués : 3 matchs joués<br>
                                    Nombre de buts : 1 but
                                </b>
                            </span>
                        </div>

                        <div>
                            <div class="partie-image2"
                                style="background-image: url('../../../../assets/img/femme2.jpg');">
                                <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                    data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                    data-bullets-position="right" data-duration="500" data-period="3000"
                                    data-height="4/3"
                                    data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                    data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                    <div class="slide" data-cover="../../../../assets/img/cdm2002.jpg"></div>
                                    <div class="slide" data-cover="../../../../assets/img/cdm20022.jpg"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">
                        <h2>
                            <b>
                                COUPE DES CONFEDERATIONS 2003
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>

                        <p>
                            Le Cameroun dispute la Coupe des confédérations 2003, se hisse en finale et perd contre le
                            France. Cette coupe de confédération est marquée par un évènement majeur, le décès du
                            co-équipier de Samuel Eto’o, Marc-vivien FOE, survenu lors du match face à la Colombie.
                        </p>

                        <div class="stats" style="line-height: 1.2;">
                            <span>
                                <b>
                                    Nombre de match joués : 4 matchs joués<br>
                                    Nombre de buts : 1 but
                                </b>
                            </span>
                        </div>

                        <div>
                            <div class="partie-image2"
                                style="background-image: url('../../../../assets/img/femme2.jpg');">
                                <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                    data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                    data-bullets-position="right" data-duration="500" data-period="3000"
                                    data-height="16/9"
                                    data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                    data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                    <div class="slide" data-cover="../../../../assets/img/cc1.jpg"></div>
                                    <div class="slide" data-cover="../../../../assets/img/cc2.jpg"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">
                        <h2>
                            <b>
                                CAN 2004 EN TUNISIE
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>

                        <p>
                            Eto'o est retenu pour la CAN 2004 dont le Cameroun tenant du titre et favori. Le Cameroun se
                            qualifie pour les quarts-de-finale avec deux nuls et une victoire contre le Zimbabwe, mais
                            contre le Nigéria à qui il a marqué un but, et est éliminé du tournoi.
                        </p>

                        <div class="stats" style="line-height: 1.2;">
                            <span>
                                <b>
                                    Nombre de match joués : 4 matchs joués<br>
                                    Nombre de buts : 1 but
                                </b>
                            </span>
                        </div>

                        <div>
                            <div class="partie-image2"
                                style="background-image: url('../../../../assets/img/femme2.jpg');">
                                <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                    data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                    data-bullets-position="right" data-duration="500" data-period="3000"
                                    data-height="4/3"
                                    data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                    data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                    <div class="slide" data-cover="../../../../assets/img/cano1.jpg"></div>
                                    <div class="slide" data-cover="../../../../assets/img/cantunisie.jpg"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">
                        <h2>
                            <b>
                                CAN EGYPTE 2006
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>

                        <p>
                            Malgré la non-qualification au Mondial allemand, le Cameroun est le favori de la CAN 2006.
                            Avec ses trois buts marqués face à l’ANGOLA, l'attaquant rejoint le peloton des 12 joueurs
                            ayant marqué au moins 3 buts en une rencontre de CAN, et intègre le top 10 des meilleurs
                            buteurs de l'histoire de la compétition avec ce 9e but. Le Cameroun est éliminé en quart
                            face à la Côte d’Ivoire et Samuel termine meilleur buteur.
                        </p>

                        <div class="stats" style="line-height: 1.2;">
                            <span>
                                <b>
                                    Nombre de match joués : 4 matchs joués<br>
                                    Nombre de buts : 5 buts
                                </b>
                            </span>
                        </div>

                        <div>
                            <div class="partie-image2"
                                style="background-image: url('../../../../assets/img/femme2.jpg');">
                                <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                    data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                    data-bullets-position="right" data-duration="500" data-period="3000"
                                    data-height="4/3"
                                    data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                    data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                    <div class="slide" data-cover="../../../../assets/img/canegypte.jpg"></div>
                                    <div class="slide" data-cover="../../../../assets/img/canegypte2.jpg"></div>
                                    <div class="slide" data-cover="../../../../assets/img/canegypte3.jpg"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">
                        <h2>
                            <b>
                                CAN 2008 AU GHANA
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>

                        <p>
                            Lors de la CAN 2008, Eto'o inscrit à nouveau cinq buts, finissant encore meilleur buteur, et
                            devenant au passage meilleur buteur de l'histoire de la Coupe d'Afrique des nations avec 16
                            buts, le précédent record étant attribué à Laurent Pokou avec 14 réalisations.
                        </p>

                        <div class="stats" style="line-height: 1.2;">
                            <span>
                                <b>
                                    Nombre de match joués : 6 matchs joués<br>
                                    Nombre de buts : 5 buts
                                </b>
                            </span>
                        </div>

                        <div>
                            <div class="partie-image2"
                                style="background-image: url('../../../../assets/img/femme2.jpg');">
                                <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                    data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                    data-bullets-position="right" data-duration="500" data-period="3000"
                                    data-height="4/3"
                                    data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                    data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                    <div class="slide" data-cover="../../../../assets/img/can2008.jpg"></div>
                                    <div class="slide" data-cover="../../../../assets/img/can20082.jpg"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">
                        <h2>
                            <b>
                                CAN 2010 EN ANGOLA
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>

                        <p>
                            Pour la CAN 2010 en Angola, Samuel est le nouveau capitaine des lions indomptables. Les
                            joueurs réussissent tout de même à se qualifier pour les quarts de finale en finissant
                            second du groupe grâce à une meilleure attaque mais sont éliminés en quart-de-finale par
                            l’Egypte.
                        </p>

                        <div class="stats" style="line-height: 1.2;">
                            <span>
                                <b>
                                    Nombre de match joués : 4 matchs joués<br>
                                    Nombre de buts : 2 buts
                                </b>
                            </span>
                        </div>

                        <div>
                            <div class="partie-image2"
                                style="background-image: url('../../../../assets/img/femme2.jpg');">
                                <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                    data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                    data-bullets-position="right" data-duration="500" data-period="3000"
                                    data-height="4/3"
                                    data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                    data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                    <div class="slide" data-cover="../../../../assets/img/can2010.jpg"></div>
                                    <div class="slide" data-cover="../../../../assets/img/canangola.jpg"></div>
                                    <div class="slide" data-cover="../../../../assets/img/canangola2.jpg"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">
                        <h2>
                            <b>
                                COUPE DU MONDE 2010 EN AFRIQUE DU SUD
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>

                        <p>
                            Lors de la Coupe du monde 2010, les Camerounais sont éliminés au premier tour avec 3
                            défaites en autant de matchs : (0-1) contre le Japon, (1-2) contre le Danemark et (1-2)
                            contre les Pays-Bas. Eto'o ouvre le score face aux Danois et égalise contre les Hollandais
                            mais en vain. Il inscrit les 2 buts des Camerounais.
                        </p>

                        <div class="stats" style="line-height: 1.2;">
                            <span>
                                <b>
                                    Nombre de match joués : 4 matchs joués<br>
                                    Nombre de buts : 2 buts
                                </b>
                            </span>
                        </div>

                        <div>
                            <div class="partie-image2"
                                style="background-image: url('../../../../assets/img/femme2.jpg');">
                                <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                    data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                    data-bullets-position="right" data-duration="500" data-period="3000"
                                    data-height="4/3"
                                    data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                    data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                    <div class="slide" data-cover="../../../../assets/img/cdm2010.jpg"></div>
                                    <div class="slide" data-cover="../../../../assets/img/cdm20102.jpg"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="carriere">
                    <div class="interieur">
                        <h2>
                            <b>
                                COUPE DU MONDE 2014 AU BRESIL
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>

                        <p>
                            L’aventure camerounaise prend fin prématurément au mondial brésilien par une série de 3
                            défaites successives. À la suite de l'élimination, Eto'o prend sa retraite internationale
                        </p>

                        <div class="stats" style="line-height: 1.2;">
                            <span>
                                <b>
                                    Nombre de match joués : 3 matchs joués<br>
                                    Nombre de buts : 0 but
                                </b>
                            </span>
                        </div>

                        <div>
                            <div class="partie-image2"
                                style="background-image: url('../../../../assets/img/femme2.jpg');">
                                <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true"
                                    data-controls="false" data-bullets="false" data-cls-controls="fg-white"
                                    data-bullets-position="right" data-duration="500" data-period="3000"
                                    data-height="4/3"
                                    data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                    data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                                    <div class="slide" data-cover="../../../../assets/img/cdm2014.jpg"></div>
                                    <div class="slide" data-cover="../../../../assets/img/cdm20142.jpg"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <!---
            <div class="cell-lg-12">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                COUPE DU MONDE
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p class="text-leader2">
                            Au cours de sa première saison en Espagne, au CD Leganés prêté par le Real Madrid, Eto'o est
                            convoqué en équipe du Cameroun A par le nouveau sélectionneur Claude Le Roy. Samuel part en
                            tournée avant d'être sélectionné pour la Coupe du monde 1998 à la fin de la saison. À 17 ans
                            et 3 mois, Eto'o est le plus jeune joueur du tournoi. Sur le plan offensif, l'équipe est
                            dominée par Patrick Mboma et François Omam-Biyik.
                        </p>
                        <div>
                            <img src="../../../../assets/img/cdm.jpg" style="height: 30vh; margin-right: 20px;">
                            <img src="../../../../assets/img/cdm2.jpg" style="height: 30vh; margin-right: 20px;">
                        </div>
                        <p class="text-leader2">
                            Quelques mois après sa victoire à la CAN, il dispute sa deuxième Coupe du monde. Mais le
                            Cameroun ne passe pas le premier tour, malgré un match nul (1-1) contre l’Irlande, une
                            victoire (1-0) contre l'Arabie saoudite grâce à un but d'Eto'o et une défaite (0-2) contre
                            l'Allemagne.
                        </p>

                        <div>
                            <img src="../../../../assets/img/cdm3.jpg" style="height: 30vh; margin-right: 20px;">
                            <img src="../../../../assets/img/cdm4.jpg" style="height: 30vh; margin-right: 20px;">
                        </div>

                        <p class="text-leader2">
                            Pour les éliminatoires de la Coupe du monde 2006, le Cameroun tombe sur un groupe difficile
                            avec notamment l'Égypte et la Côte d'Ivoire. Lors du dernier match contre l'Égypte, à la 94e
                            minute, le défenseur Pierre Wome se charge d'un penalty qui peut qualifier le Cameroun
                            (1-1), mais il le rate en envoyant la balle sur le poteau et le Cameroun ne se qualifie pas
                            pour le Mondial allemand après quatre Mondiaux consécutifs
                        </p>

                        <div>
                            <img src="../../../../assets/img/cdm5.jpg" style="height: 30vh; margin-right: 20px;">
                            <img src="../../../../assets/img/cdm5.png" style="height: 30vh; margin-right: 20px;">
                        </div>

                        <p class="text-leader2">
                            Après la CAN 2010, le Cameroun débute les éliminatoires de la Coupe du monde 2010. Eto'o
                            connaît alors son ratio le plus élevé avec huit buts inscrits en six matchs (un sans
                            marquer), dont trois doublés lors des trois derniers, soit 1,3 buts par rencontres.
                            Le 12 août 2009 à l'occasion du match amical Autriche-Cameroun, Eto'o obtient le brassard de
                            capitaine de l'équipe nationale succédant à Rigobert Song qui le cède pour la première fois
                            en dix ans.

                        </p>


                        <div>
                            <img src="../../../../assets/img/cdm6.jpg" style="height: 30vh; margin-right: 20px;">
                        </div>

                        <p class="text-leader2">
                            Après la CAN 2010, le Cameroun débute les éliminatoires de la Coupe du monde 2010. Eto'o
                            connaît alors son ratio le plus élevé avec huit buts inscrits en six matchs (un sans
                            marquer), dont trois doublés lors des trois derniers, soit 1,3 buts par rencontres.
                            <br>
                            Le 12 août 2009 à l'occasion du match amical Autriche-Cameroun, Eto'o obtient le brassard de
                            capitaine de l'équipe nationale succédant à Rigobert Song qui le cède pour la première fois
                            en dix ans.
                        </p>
                        <p class="text-leader2">
                            À la suite de la qualification pour la Coupe du monde 2010 en Afrique du Sud, Samuel offre
                            des montres de sa marque personnelle Eto'o World d'une valeur d'environ 33 000 euros
                            chacune, à chacun de ses 22 coéquipiers de l'équipe nationale après la qualification pour la
                            Coupe du monde 2010 en Afrique du Sud.
                            <br>
                            Lors de la Coupe du monde 2010, les Camerounais sont éliminés au premier tour avec 3
                            défaites en autant de matchs : (0-1) contre le Japon, (1-2) contre le Danemark et (1-2)
                            contre les Pays-Bas. Eto'o ouvre le score face aux Danois et égalise contre les Hollandais
                            mais en vain. Il inscrit les 2 buts des Camerounais, bien que critiqué par Roger Milla avant
                            le Mondial.
                        </p>
                        <p class="text-leader2">
                            Lors des éliminatoires du mondial 2014, le Cameroun, entrainé par Volker Finke, se trouve
                            dans le Groupe I et a pour adversaires la Libye, le Togo et la RD Congo. Eto'o ne participe
                            pas aux deux premières journées. Pour la troisième contre les Togolais, il inscrit un doublé
                            décisif (2-1). Son équipe termine à la première place. Ayant repoussé l'échéance de sa
                            retraite, il retrouve son brassard de capitaine des Lions Indomptables face à la Tunisie,
                            pour un barrage aller-retour décisif68. Le Cameroun parvient à se qualifier pour sa septième
                            Coupe du monde (0-0, 4-1).
                        </p>

                        <p class="text-leader2">
                            Au tirage au sort, le Cameroun est attribué dans le Groupe A avec le Brésil en tant que pays
                            hôte, le Mexique et la Croatie. Mais le rêve camerounais prend fin prématurément à la suite
                            de trois défaites dès la phase de poules avec neuf buts encaissés pour un seul inscrit (0-1
                            face au Mexique, 0-4 face à la Croatie et 1-4 face au Brésil). Souffrant du genou, Samuel
                            Eto'o ne prend part qu'au premier match contre les Mexicains.
                        </p>
                        <p class="text-leader2">
                            À la suite de l'élimination, Eto'o prend sa retraite internationale. Il est le meilleur
                            buteur de l'histoire du Cameroun avec 56 buts70 et second joueur le plus capés avec 116
                            sélections, derrière Rigobert Song (137)
                        </p>

                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>
            <div class="cell-lg-12">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                Coupe des confédérations et jeux olympiques
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p class="text-leader2">
                            En septembre 2000, Eto'o participe au Tournoi masculin de football aux Jeux olympiques d'été
                            de 2000. L'équipe du Cameroun olympique se hisse jusqu'en finale, contre l'Espagne de Xavi,
                            Puyol ou Marchena. Lors de la rencontre, Samuel inscrit son seul but de la compétition en
                            égalisant à 2-2 avant de transformer le second tir-au-but (2-2 tab 5-3).
                        </p>

                        <div>
                            <img src="../../../../assets/img/jo.jpg" style="height: 30vh; margin-right: 20px;">
                            <img src="../../../../assets/img/jo2.jpg" style="height: 30vh; margin-right: 20px;">
                            <img src="../../../../assets/img/jo3.jpg" style="height: 30vh; margin-right: 20px;">
                        </div>
                        <p class="text-leader2">
                            En 2001, le Cameroun participe à la Coupe des confédérations en tant que champion
                            continental. Eto'o participe aux trois rencontres de groupe mais ne marque pas. Son équipe
                            ne se qualifie pas, après deux défaites 2-0 contre le Brésil et le Japon avant de sauver
                            l'honneur sur le même score contre le Canada. Eto'o fait partie de l'équipe-type du tournoi.
                        </p>

                        <div>
                            <img src="../../../../assets/img/cc.jpg" style="height: 30vh; margin-right: 20px;">
                            <img src="../../../../assets/img/cc1.jpg" style="height: 30vh; margin-right: 20px;">
                            <img src="../../../../assets/img/cc2.jpg" style="height: 30vh; margin-right: 20px;">
                        </div>

                        <p class="text-leader2">
                            Le Cameroun dispute la Coupe des confédérations 2003. Lors du premier match contre le Brésil
                            champion du monde en titre, Eto'o offre la victoire à son équipe (1-0). La seconde rencontre
                            face à la Tunisie est gagnée sur le même score, avant de faire 0-0 contre le États-Unis.
                            Laissé au repos en demi-finale gagnée 1-0 contre le Colombie, le buteur reçoit
                            l'autorisation de repartir en Espagne pour y disputer la finale de la Coupe du Roi avec le
                            RCD Majorque le 28 juin2. Le lendemain, en finale contre la France, Eto'o entre à l'heure de
                            jeu mais ne fait pas la différence et son équipe s'incline en prolongation (0-1 ap). Cette
                            coupe de confédération est marquée par un évènement majeur, le décès du co-équipier de
                            Samuel Eto’o, Marc-vivien FOE, survenu lors du match face à la Colombie.
                        </p>

                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>
            <div class="cell-lg-12">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                CAN 2000 - 2002
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p class="text-leader2">
                            La fin d'année 1998 et toute celle 1999 sont calme pour Samuel sur le plan international.
                            Après sa première participation à une édition de coupe du monde avec la selection nationale,
                            Samuel joue peu au Real Madrid et son prêt à l'Espanyol de Barcelone lors de la seconde
                            moitié de la saison 1998-1999 est un échec. En quinze mois, Eto'o ne dispute qu'un match
                            avec le Cameroun : 0-0 en Érythrée pour les qualifications à la CAN 2000 en janvier 1999.
                            Son salut vient de son prêt au RCD Majorque où il s'impose et marque.
                            <br>
                            Après deux matchs amicaux, Eto'o est retenu pour participer à la Coupe d'Afrique des
                            nations.
                        </p>

                        <div>
                            <img src="../../../../assets/img/can.jpg" style="height: 30vh; margin-right: 20px;">
                            <img src="../../../../assets/img/can2.jpg" style="height: 30vh; margin-right: 20px;">
                            <img src="../../../../assets/img/can3.jpg" style="height: 30vh; margin-right: 20px;">
                        </div>
                        <p class="text-leader2">
                            Il joue le premier match contre le Ghana (1-1), profitant de l'indisponibilité de
                            Joseph-Désiré Job. Le 28 janvier 2000, lors de la seconde rencontre face à la Côte d’Ivoire,
                            Eto'o inscrit son premier but international à la 45e minute (3-0). Il ne joue pas le
                            troisième match de poule mais marque lors des trois matchs en phase finale. Il ouvre le
                            score en quart-de-finale contre l'Algérie (2-1), inscrit le second but contre la Tunisie en
                            demi (3-0) et le premier en finale contre le Nigeria mais ne prend pas part à la séance de
                            tirs-au-but (2-2 tab 4-3). Avec ses quatre buts, Eto'o termine second meilleur buteur du
                            tournoi aux côtés de son compatriote Patrick Mboma et dernière Shaun Bartlett (5 buts). Avec
                            son but le 19 avril 2000 en qualifications pour le Mondial 2002 contre la Somalie, Eto'o
                            signe la meilleure série internationale de sa carrière avec cinq buts en autant de
                            rencontres.
                        </p>

                        <div>
                            <img src="../../../../assets/img/can7.jpg" style="height: 30vh; margin-right: 20px;">
                            <img src="../../../../assets/img/can5.jpg" style="height: 30vh; margin-right: 20px;">
                            <img src="../../../../assets/img/can6.jpg" style="height: 30vh; margin-right: 20px;">
                        </div>

                        <p class="text-leader2">
                            Pour la CAN 2002 au Mali, Samuel Eto'o est moins prolifique avec un seul but dans toute la
                            compétition, en match de poule contre le Togo pour le troisième match. En quarts de finale,
                            le Cameroun bat l'Égypte sur le score de (1-0). En demi-finale, les Lions Indomptables
                            battent sans difficulté le Mali (3-0). En finale, Eto'o et la sélection camerounaise
                            conservent leur titre en battant le Sénégal (0-0 tab 3-2), l'attaquant ne prend pas part à
                            la séance de tirs-au-but.
                        </p>

                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>
            <div class="cell-lg-12">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                CAN 2004 - 2006
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p class="text-leader2">
                            Sans jouer en sélection depuis la Coupe des confédérations 2003, Eto'o est retenu pour la
                            CAN 2004 dont le Cameroun tenant du titre et favori. Le Cameroun se qualifie pour les
                            quarts-de-finale avec deux nuls et une victoire contre le Zimbabwe. Contre le Nigeria, Eto'o
                            ouvre le score à la 43e minute mais son équipe perd 1-2. Avec ce but, Samuel met fin à six
                            matchs internationaux sans marquer, la plus longue série de sa carrière.
                        </p>

                        <div>
                            <img src="../../../../assets/img/cano1.jpg" style="height: 30vh; margin-right: 20px;">
                        </div>
                        <p class="text-leader2">
                            Malgré la non-qualification au Mondial allemand, le Cameroun est le favori de la CAN 2006.
                            Lors du premier match contre l'Angola, Eto'o signe un triplé (3-1) son seul en équipe
                            nationale. Avec ses trois buts, l'attaquant rejoint le peloton des 12 joueurs ayant marqué
                            au moins 3 buts en une rencontre de CAN, et intègre le top 10 des meilleurs buteurs de
                            l'histoire de la compétition avec ce 9e but, dépassant son compatriote Roger Milla (7 buts).
                            Eto'o marque ensuite dans les deux autres matchs de poule, contre le Togo puis le Congo (2-0
                            chacun).
                        </p>

                        <div>
                            <img src="../../../../assets/img/cano2.jpg" style="height: 30vh; margin-right: 20px;">
                        </div>

                        <p class="text-leader2">
                            Pour la CAN 2002 au Mali, Samuel Eto'o est moins prolifique avec un seul but dans toute la
                            compétition, en match de poule contre le Togo pour le troisième match. En quarts de finale,
                            le Cameroun bat l'Égypte sur le score de (1-0). En demi-finale, les Lions Indomptables
                            battent sans difficulté le Mali (3-0). En finale, Eto'o et la sélection camerounaise
                            conservent leur titre en battant le Sénégal (0-0 tab 3-2), l'attaquant ne prend pas part à
                            la séance de tirs-au-but.
                        </p>
                        <p class="text-leader2">
                            En quart de finale, le Cameroun est éliminé face à la Côte d'Ivoire à la suite de la plus
                            longue série de tirs au but de la Coupe d'Afrique. Eto'o transforme le premier et chacun des
                            22 joueurs réussis à son tour. Eto'o doit se présenter une seconde fois mais rate sa
                            tentative et élimine son équipe. Samuel termine meilleur buteur de la compétition avec cinq
                            buts.
                        </p>

                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>
            <div class="cell-lg-12">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                CAN 2008 - 2010
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p class="text-leader2">
                            Lors de la CAN 2008, Eto'o marque les deux buts de son équipe lors de la défaite au premier
                            match de poule contre l’Égypte (2-4). Il participe ensuite aux larges victoires contre la
                            Zambie (5-1) et le Soudan (3-0) sur penalty les deux fois. Le Cameroun écarte la Tunisie
                            après prolongation en quart-de-finale (3-2 ap) puis le Ghana en demi (1-0). Le Cameroun perd
                            en finale contre l'Égypte (0-1). Comme deux ans, plus tôt, Samuel est meilleur buteur sans
                            marquer en phase finale. Au total, Eto'o inscrit à nouveau cinq buts, finissant encore
                            meilleur buteur57, et devenant au passage meilleur buteur de l'histoire de la Coupe
                            d'Afrique des nations avec 16 buts, le précédent record étant attribué à Laurent Pokou avec
                            14 réalisations.
                        </p>

                        <div>
                            <img src="../../../../assets/img/cani.jpg" style="height: 30vh; margin-right: 20px;">
                            <img src="../../../../assets/img/cani2.jpg" style="height: 30vh; margin-right: 20px;">
                        </div>
                        <p class="text-leader2">
                            Pour la CAN 2010 en Angola, dans le groupe D, le Cameroun débute par une défaite (0-1)
                            contre le Gabon avant qu'Eto'o ne marque pour offrir la victoire (3-2) contre la Zambie puis
                            le nul (2-2) contre la Tunisie. Les joueurs réussissent tout de même à se qualifier pour les
                            quarts de finale en finissant second du groupe grâce à une meilleure attaque. En
                            quart-de-finale, le Cameroun se fait à nouveau battre par sa bête noire égyptienne (3-1 ap).
                        </p>

                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>
            <div class="cell-lg-12">
                <div class="carriere">
                    <div class="interieur">

                        <h2>
                            <b>
                                Echecs de participation : 2012-2013
                            </b>
                        </h2>
                        <div class="souligne">

                        </div>
                        <p class="text-leader2">
                            À la suite du Mondial, Eto'o inscrit deux doublés en amicale en Pologne (0-3) puis contre
                            Maurice en qualifications à la CAN 2012, soit six buts en quatre rencontres consécutives, sa
                            meilleure série depuis celle suivant son premier but
                        </p>
                        <p class="text-leader2">
                            Le 4 juin 2011, lors du match des qualifications à la CAN 2012 contre le Sénégal, le
                            Cameroun concède un match nul et vierge à domicile. Durant ce match, estimant que l'équipe
                            devait garder un jeu offensif pour maintenir toutes ses chances de l'emporter, Samuel Eto'o
                            conteste publiquement le choix de son entraîneur Javier Clemente58. Dans le temps
                            additionnel, Eto'o rate un penalty décisif à la victoire au Cameroun. Avant la rencontre,
                            Samuel Eto'o s'était déjà fait remarquer en refusant de s'entraîner car Alexandre Song avait
                            refusé de lui serrer la main. Le Cameroun ne se qualifie pas pour la CAN 2012.
                        </p>
                        <p class="text-leader2">
                            Entre septembre et novembre 2011, Eto'o marque quatre buts en autant de rencontres, la
                            troisième série de sa carrière internationale après celles de ses débuts et de fin 201055.
                            Le 15 novembre 2011, le Cameroun refuse de jouer le match amical contre l'Algérie pour faute
                            de non-paiement de prime de match. La Fédération camerounaise de football décide d'infliger
                            à Samuel Eto'o, alors capitaine, une suspension de 15 matches59. Cette suspension est
                            ensuite réduite60,61, puis levée.
                        </p>
                        <p class="text-leader2">
                            Eto'o est rappelé par le sélectionneur Denis Lavagne pour le match des éliminatoires de la
                            CAN 2013 contre le Cap-Vert le 8 septembre 201262. Mais cinq jours plus tard, Samuel Eto'o
                            annonce qu'il refuse de revenir en sélection63. Eto'o décide de se remettre à la
                            disposition64 de son sélectionneur Jean-Paul Akono dans l'optique du match retour le 14
                            octobre 2012. Malgré le retour de Samuel Eto'o, treize mois après sa dernière sélection, le
                            Cameroun ne réussit pas à arracher son billet pour la CAN 2013.
                        </p>

                    </div>

                    <div style="margin-top: 2vh;">
                        <button class="button muanza">
                            En savoir plus
                        </button>
                    </div>
                </div>
            </div>

        -->
        </div>
    </div>
</div>