<div class="image-arriere">

</div>
<div class="entete contenu">
    <h1 class="fg-white" style="margin-top:5vh">
        <b style="text-transform: uppercase; font-size: 1.2em;">
            Nos projets
        </b>
    </h1>
</div>
<div style="min-height: 100vh;">
    <div class="projets">
        <div class="row">
            <div class="cell-lg-4">
                <div class="projet">
                    <div class="image">
                        <div class="interne">
                            <img src="../../../assets/img/projet.jpg" style="width: 100%;">
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        18 déc 2019
                                        &nbsp;
                                        1 Min
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Construction et scolarisation
                        </h4>
                        <p class="text-leader2 texte" style="">
                            
                            Construction maison d'hôtes pour enfants de la rue et scolarisation
                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red" ></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projet">
                    <div class="image">
                        <div class="interne">
                            <img src="../../../assets/img/projet4.jpg" style="width: 100%;">
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        18 déc 2019
                                        &nbsp;
                                        1 Min
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Suivi de carrière
                        </h4>
                        <p class="text-leader2 texte" style="">
                            
                            Suivi de carrière des enfants de la fondation
                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red" ></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                <div class="projet">
                    <div class="image">
                        <div class="interne">
                            <img src="../../../assets/img/projet2.jpg" style="width: 100%;">
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        25 déc 2019
                                        &nbsp;
                                        1 Jr
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Eto'o charity Match
                        </h4>
                        <p class="text-leader2 texte" style="">
                            
                            Match de charité
                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red" ></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projet">
                    <div class="image">
                        <div class="interne">
                            <img src="../../../assets/img/projet5.jpg" style="width: 100%;">
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        25 déc 2019
                                        &nbsp;
                                        1 Jr
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Redéveloppement Académie 
                        </h4>
                        <p class="text-leader2 texte" style="">
                            
                            Redéveloppement de l'académie Fundesport
                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red" ></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-lg-4">
                
                <div class="projet">
                    <div class="image">
                        <div class="interne">
                            <img src="../../../assets/img/projet3.png" style="width: 100%;">
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        28 déc 2019
                                        &nbsp;
                                        1 Min
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Campagnes de vaccination
                        </h4>
                        <p class="text-leader2 texte" style="">
                            Campagnes de vaccination
                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red" ></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>