<div class="image-arriere">

</div>
<div class="entete contenu">
    <h1 class="fg-white" style="margin-top:3vh">
        <b style="text-transform: uppercase; font-size: 1.2em;">
            Réalisations
        </b>
    </h1>
    <div class="fg-white text-leader" style="margin-top: -15px;">
        Sport
    </div>
</div>
<div style="min-height: 100vh;">
    <div class="projets">
        <div class="row">
            <div class="cell-lg-6">
                <div class="projet">
                    <div class="image">
                        <div class="interne">
                            <img src="../../../../assets/img/sport1.png" style="width: 100%;">
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        2008 / Actuellement
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Projet “développement du football de base”
                        </h4>
                        <p class="texte" style="">

                            Ville, pays: Douala. Cameroun
                            Bénéficiaires: 5.000 de façon directe
                            Montant total: 100.000 euros
                            Cofinanceur: Puma, Orange
                            Résultat: Développement personnel des enfants
                            Année de réalisation : 2006
                            Durée: Indéterminée



                        </p>
                        <p class="text-just">
                            Ce projet consistait à organiser une compétition pour les moins de 12 ans au Cameroun, grâce
                            à laquelle on prétend obtenir, à travers le football, l’intégration, l’éducation et la
                            formation des enfants camerounais. Leur donner l'opportunité de se développer dignement
                            comme personnes, à l'intérieur d'une organisation où “tout le monde est important et
                            nécessaire”.
                            <br>

                            Nous avons été les premiers à organiser un tournois pour les enfants de moins de 14 ans au
                            Cameroun !
                            <br>

                            Pourquoi ? Parce que les enfants méritent tous les efforts et le dévouement, car tous les
                            participants devront être à l'école (avec des subventions et des bourses pour les frais de
                            scolarité) et comme une récompense d'apprendre et de jouer au football ou ce qui est,
                            surmonter, d'améliorer, Voyage à participer à des compétitions internationales, d'appartenir
                            à des équipes, etc...
                            <br>

                            Nous avons commencé la compétition, "Festi-Espoirs Eto'o" seulement dans la ville de Douala
                            et avec seulement 100 enfants, nous sommes maintenant dans cinq villes (Douala, Yaoundé,
                            Bamenda, Limbé et Kribi). Nous travaillons avec plus de 5.000 enfants, d'organiser et de
                            subventionner les finales scolaires et au niveau national. Nous avons créé deux écoles de la
                            modernisation de Douala et de Yaoundé libre, où ils passent plus de 400 enfants.

                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projet">
                    <div class="image">
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        2008 / Actuellement
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Projet "Tutelle, suivi pédagogique, des conseils et des soins quotidiens de nos joueurs en
                            Europe"
                        </h4>
                        <p class="texte" style="">

                            Ville, pays: Douala et Yaoundé. Cameroun
                            Bénéficiaires: 20 de façon direct
                            Montant total: 100.000 euros
                            Cofinanceur: Le F. C. Barcelone, le RCD Majorque, le Club Penya Esportiva Ciutadella, Torre
                            Levante de Valence et le Gimnástic de Tarragone.
                            Résultat: Développement personnel et professionnel
                            Date de réalisation : 2006
                            Durée : Indéterminée


                        </p>
                        <p class="text-just">
                            Grâce au succès de nos équipes dans les différents tournois internationaux auxquels la
                            Fondation a participé, le F.C. Barcelone, le RCD de Majorque, le Club Penya Esportiva
                            Ciutadella, le Gimnàstic de Tarragone et Torre Levante ont sélectionné un total de 19
                            enfants. En Espagne, nous poursuivons leur éducation, conseil, tutelle et contrôle
                            quotidien.

                            Grâce à leurs habiletés footbalistique ces enfants ont réussi à faire le saut de FundESport
                            a des grands clubs européens. Dans le même temps, cela représente une occasion de combiner
                            la pratique du football avec une formation universitaire qui leur permet d'avoir un autre
                            cheminement de carrière pour l'avenir.

                            Pendant son séjour en Europe, les joueurs sont sous l'égide de la Fondation, qui fournit
                            tout l'appui nécessaire pour l'adaptation et le développement du sport, académique et
                            personnel, avec l'aide de professionnels comme les travailleurs sociaux ou conseillers
                            sportifs mener une contrôle quotidien et préserver leurs intérêts


                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-lg-6">
                <div class="projet">
                    <div class="image">
                        <div class="interne">
                            <img src="../../../../assets/img/sport2.png" style="width: 100%;">
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        2008 / Actuellement
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Projet “Intégration sociale des jeunes du Cameroun à travers le sport et des activités de
                            formation, d’éducation et de sensibilisation”
                        </h4>
                        <p class="texte" style="">

                            Ville, pays: Douala. Cameroun
                            Bénéficiaires: 400 de façon direct
                            Montant total: 200.000 euros annuels
                            Cofinanceur: Puma et Orange
                            Résultat: Développement personnel et opportunités d'avenir
                            Année de réalisation ; 2006
                            Durée: Indeterminée


                        </p>
                        <p class="text-just">
                            Nous disposions de quatre centres de formation sportive (Douala, Yaoundé, Limbé et Bamenda)
                            où nous sélectionnons 400 enfants qui, en fonction de leurs résultats scolaires et sportifs,
                            ont la possibilité de prendre part aux compétitions internationales auxquelles participe la
                            Fondation avec les meilleurs clubs européens et d’arriver à faire partie de ces équipes
                            s’ils sont sélectionnés.

                            Tous les Camerounais de prendre le temps de jouer au football. Première vision du Cameroun
                            est le peuple dans la rue, sans travail, pas d'école et rien à faire. Tout endroit est bon
                            pour le football. Ils ont juste besoin "quelque chose" qui fait le gardien de but et de
                            chiffres d'affaires et de jouer!. En quelques minutes, beaucoup de gens se concentrer pour
                            ce match impromptu.

                            Pour plus de Trois ans, nous avons commence projet lui "FUNDESPORT." Il Été une A travers le
                            football, vous, la concrétisation de l'intégration, l'éducation et la formation de la
                            camerounaise des Enfants. DANS Donnez,-Leur l'occasion de la Sein Dignité Développer des
                            Personnes au Comme d'UNE DANS Organisation laquelle sont Important Tous et nécéssaires.

                            Au Cameroun, il n'est pas facile d'aller à l'école, l'école n'est pas gratuite, les familles
                            ne peuvent pas se permettre de payer et pas de transport. Avec le handicap supplémentaire de
                            ces enfants sont obligés de travailler pour aider à répondre à vos besoins.

                            Avec des bourses d'études et de transport, d'organisation et de contrôle pour essayer
                            d'obtenir plus de scolarité, l'aide à jouer au football comme une incitation.

                            Montrer qu'il est possible que quelque chose comme d'habitude, ordinaires et «vulgaire»,
                            comme jouer au football, vous pouvez obtenir le plaisir, le respect, l'organisation, des
                            possibilités d'emploi, la camaraderie, les succès, le dévouement, obligations, etc Avec une
                            seule organisation ne peut accomplir de grandes choses.

                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projet">
                    <div class="image">
                        
                        <div class="interne">
                            <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true" data-controls="false"
                                data-bullets="false" data-cls-controls="fg-white" data-bullets-position="right"
                                data-duration="500" data-period="3000" data-height="16/9"
                                data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">
        
                                <div class="slide" data-cover="../../../../assets/img/gabon.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/gabon2.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/gabon3.jpg"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        2008 / Actuellement
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Projet “CONSTRUCTION D’UN CENTRE DE FORMATION AU GABON”
                        </h4>
                        <p class="texte" style="">
                            Ville, pays : Libreville, Gabon
                            Bénéficiaires :
                            Montant total : 2 milliards FCFA
                            Cofinanceur :
                            Résultat :
                            Date de réalisation : 2012
                        </p>
                        <p class="text-just">
                            Le quartier périphérique de Nzeng Ayong dans le 6ème arrondissement de Libreville abrite les
                            deux complexes dédiés à la Fondation Samuel Eto’o, à savoir la résidence qui servira de
                            logis aux jeunes talents sportifs et le stade d’entrainement. Le centre de formation vise à
                            offrir la possibilité à des jeunes qui rêvent d’une carrière dans le football et d’avoir une
                            chance de construire une meilleure vie.
                            <br>
                            <br>
                            Cette fondation pourra certainement apporter un immense appui dans l’avenir au football
                            Gabonais, notamment en matière de détection et de formation des jeunes talents. Elle servira
                            de pépinère aux clubs locaux et aux équipes européennes demandeuses de talents.


                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-lg-6">
            </div>
        </div>
    </div>
</div>