<div class="image-arriere">

</div>
<div class="entete contenu">
    <h1 class="fg-white" style="margin-top:3vh">
        <b style="text-transform: uppercase; font-size: 1.2em;">
            Réalisations
        </b>
    </h1>
    <div class="fg-white text-leader" style="margin-top: -15px;">
        Survie et croissance de l'enfant
    </div>
</div>
<div style="min-height: 100vh;">
    <div class="projets">
        <div class="row">
            <div class="cell-lg-6">
                <div class="projet">
                    <div class="image">
                        <div class="interne">
                            <img src="../../../../assets/img/survie1.png" style="width: 100%;">
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        2008 / Actuellement
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Projet “Assistance aux enfants orphelins avec manutention, vêtements, moyens didactiques,
                            scolarisation, jouets, etc...
                        </h4>
                        <p class="texte" style="">

                            Ville, pays : Douala, Cameroun
                            Bénéficiaires : 48 enfants de façon directe
                            Montant total : 16.000 euros
                            Cofinanceur : (aucun)
                            Année de réalisation : 2008/2009
                            Durée : 2 ans

                        </p>
                        <p class="text-just">
                            Il existe à Douala un orphelinat dirigé par Thérèse Ngo Moune, une femme au grand cœur plus
                            connue sous le nom de "Maman", et où sont accueillis 48 enfants. La maison, avec des pièces
                            et des espaces précaires et en nombre insuffisant, accueille des enfants orphelins sans
                            ressources qui viennent de la rue.

                            Nous l’avons visitée et avons pris connaissance du grand travail social de Thérèse. Elle
                            venait en outre de recueillir, le jour même de la visite, un bébé âgé de 2 jours qu'elle
                            nous a mis entre les bras. Vous ne pouvez-vous imaginer les sentiments que nous avons
                            éprouvés ! Dès ce moment, nous avons pris la décision de protéger, d’accueillir et d’aider
                            "Maman" et ses enfants.
                            Cette opération a été réalisé avec succès résultant à des aides pour la manutention, les
                            vêtements, les moyens didactiques, le paiement de la scolarisation de tous les enfants, les
                            jouets, etc.

                            Encouragés par le succès de ce projet, nous avons élargi le programme à cinq orphelinats de
                            plus en 2011, dont trois se trouvent à Douala et deux à Yaoundé.

                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projet">
                    <div class="image">
                        <div class="interne">
                            <img src="../../../../assets/img/survie2.png" style="width: 100%;">
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        2008 / Actuellement
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Projet “Intégration sociale des jeunes de la rue à travers des activités de formation,
                            d’éducation et de sensibilisation"
                        </h4>
                        <p class="texte" style="">

                            Ville, pays: Douala, Cameroun
                            Bénéficiaires:70 de façon directe
                            Montant total:10.000 euros annuellement
                            Cofinanceur: (aucun)
                            Résultat: Intégration sociale de 30 mineurs
                            Date de réalisation : 2008
                            Durée: Indéterminée

                        </p>
                        <p class="text-just">
                            Nous apportons notre aide à plusieurs groupes de ceux qu’on appelle les “enfants de la rue”
                            pour leur offrir un minimum d'organisation, d'infrastructures, d'aliments et de moyens de
                            scolarisation. Nous avons ainsi fait en sorte qu’un groupe de plus de 70 enfants de la rue
                            s’organise, en mettant à leur disposition des chambres avec des lits, des couvertures, une
                            cuisine, de la nourriture et même une zone pour les enfants les plus petits, où un maître
                            leur fait cours, les surveille et où ils disposent de plus de protection.

                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projet">
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        2008 / Actuellement
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Projet “Assistance alimentaire contre la malnutrition des enfants parmi les déplacés
                            centrafricains au Cameroun”
                        </h4>
                        <p class="texte" style="">
                            Ville, pays: Cameroun
                            Bénéficiaires: 1.000 de façon directes
                            Montant total: 50.000 € annuels
                            Cofinanceur: (aucun)
                            Résultat: Amélioration des conditions de vies
                            Date de réalisation : 2011
                            Durée: Indeterminada

                        </p>
                        <p class="text-just">
                            La plupart des habitants de la République centrafricaine pris dans les hostilités, a fui en
                            laissant tous leurs biens et de prendre seul le poste. En outre, leurs maisons ont été
                            brûlées ou pillées marchandises, y compris les denrées alimentaires. Parce que les gens
                            craignaient de nouveaux affrontements entre les deux parties, n'ose pas rentrer chez eux et
                            préfèrent rester dans la brousse où ils se sentent plus sûrs.

                            Notre intention était d'aider ces personnes déplacées, en particulier les enfants qui sont
                            les plus touchés, par la distribution de produits alimentaires de base pour survivre. Notre
                            but est de vous envoyer des produits alimentaires de base quotidienne ou hebdomadaire pour
                            assurer leur survie dans une situation extrême qui les empêche de manger le minimum
                            recommandé de calories par jour, ce qui entraîne des problèmes irréversibles sur la santé et
                            même la mort d'un grand nombre de ces enfants.

                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-lg-6">
                <div class="projet">
                    <div class="image">
                        <div class="interne">
                            <img src="../../../../assets/img/survie3.png" style="width: 100%;">
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        2008 / Actuellement
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Projet : “Assistance juridique pour les mineurs en détention et réinsertion sociale"
                        </h4>
                        <p class="texte" style="">
                            Ville, pays: Yaoundé, Bamenda et Garoua, Cameroun
                            Bénéficiaires : 70 directement
                            Montant total : 15.000 euros
                            Cofinanceur :PRDO y Repcam
                            Résultat 18 mineurs libres
                            Année de réalisation : 2008
                            Durée: Indeterminée

                        </p>
                        <p class="text-just">
                            Face au constat repéré dans les prisons du Cameroun cette année-là avec pratiquement
                            168 enfants de moins de 12 ans, qui, ne pouvant verser l’équivalent au change de 10 euros,
                            sont détenus pendant une longue période et privés de liberté pour un simple vol ou un délit
                            mineur. Dans de nombreux cas, seulement pour avoir volé un peu de nourriture pour
                            s'alimenter.

                            Notre objectif prioritaire est qu’aucun enfant de moins de 12 ans ne soit détenu dans les
                            prisons du Cameroun en attente de jugement. Non seulement nous réglons les frais de justice,
                            mais après la libération des mineurs, nous les réintégrons également dans un centre
                            d’accueil où ils peuvent recevoir chaleur et protection “familiale”.

                            Parallèlement, nous améliorons les conditions des détenus mineurs :

                            En 2009, des ordinateurs ont été livrés à la Prison Centrale de Yaoundé et un repas de Noël
                            a été organisé.

                            En 2010, un don de 70 lits a été effectué à la prison de Garoua et de 50 lits à celle de
                            Bamenda.

                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projet">
                    <div class="image">
                        <div class="interne">
                            <img src="../../../../assets/img/survie4.png" style="width: 100%;">
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        2008 / Actuellement
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Projet “Amélioration des conditions des enfants orphelins au Cameroun"
                        </h4>
                        <p class="texte" style="">

                            Ville, pays: Douala et Yaoundé, Cameroun
                            Bénéficiaires: 189 de façon directe (Synergie Fraternité des Orphelins et Enfants
                            Vulnérables, Main dans la main, Centre d’accueil de Nyom
                            Montant total :30.000 euros annuels
                            Cofinanceur: (aucun)
                            Année de réalisation : 2011
                            Durée: 5 ans

                        </p>
                        <p class="text-just">
                            Selon le Rapport Mondial de 2004, ONUSIDA en 2003, le Cameroun comptait 8 millions
                            d’enfants, dont 12% (930.000) étaient orphelins pour diverses raisons.

                            Dans ce contexte, notre principal objectif est la protection de ces enfants, à travers le
                            soutien à la réhabilitation de plusieurs orphelinats et à leur fonctionnement.

                            C’est pourquoi nous avons mis en œuvre un programme de parrainage qui consiste à apporter
                            des dons privés destinés à ces enfants. Avec cette aide, on obtient l'amélioration des
                            conditions de soins des orphelins grâce à la distribution d’un ensemble de services sociaux
                            de base (logement, nutrition, scolarisation, santé et vie associative), ainsi que la
                            sensibilisation aux conditions de vie des enfants orphelins au Cameroun.

                            La fondation réalise un suivi, un contrôle et une évaluation quant au bon fonctionnement de
                            ces centres.

                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-lg-6">
            </div>
        </div>
    </div>
</div>