<div class="image-arriere">

</div>
<div class="entete contenu">
    <h1 class="fg-white" style="margin-top:5vh">
        <b style="text-divansform: uppercase; font-size: 1.2em;">
            Partenaires
        </b>
    </h1>
</div>

<div>
    <div class="partenaires">
        <div class="row">
            <div class="cell-lg-2 cell-6">
                <a target="_blank" href="http://www.puma.com/">
                    <img alt="Puma" src="../../../assets/img/puma.png" />
                </a>
            </div>
            <div class="cell-lg-2 cell-6"><a target="_blank" href="http://www.orange.com/"><img width="73" height="73"
                        alt="Orange" src="../../../assets/img/orange.png" /></a></div>
            <div class="cell-lg-2 cell-6"><a target="_blank" href="http://www.ford.com/"><img alt="Ford"
                        src="../../../assets/img/ford.png" /></a></div>
            <div class="cell-lg-2 cell-6"><a target="_blank" href="http://www.kiwicare.com/"><img alt="Kiwi"
                        src="../../../assets/img/kiwi.png" /></a>
            </div>
            <div class="cell-lg-2 cell-6"><a target="_blank" href="http://www.jvc.com/"><img alt="JVC"
                        src="../../../assets/img/jvc.png" /></a></div>

            <div class="cell-lg-2 cell-6">
                <a target="_blank" href="https://www.caixapenedes.com/">
                    <img alt="Caixa Penedes" src="../../../assets/img/penedes.png" />
                </a>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="partenaires">
        <div class="row">
            <div class="cell-lg-2 cell-6"><a target="_blank"
                    href="http://www.fcbarcelona.com/web/Fundacio/index_idiomes.html"><img alt="Fundación FC Barcelona"
                        src="../../../assets/img/barsa.png" /></a></div>
            <div class="cell-lg-2 cell-6"><a target="_blank" href="http://www.airfrance.com/indexCOM.html"><img
                        alt="Air France" src="../../../assets/img/airfrance.png" /></a></div>
            <div class="cell-lg-2 cell-6"><a target="_blank"
                    href="http://portal.lacaixa.es/home/particulares_es.html"><img alt="La Caixa"
                        src="../../../assets/img/caixa.png" /></a></div>
            <div class="cell-lg-2 cell-6">
                <a target="_blank" href="http://www.zercaylejos.org/">
                    <img alt="Zerca y Lejos" src="../../../assets/img/cercaylejos.png" />
                </a>
            </div>
            <div class="cell-lg-2 cell-6"><a target="_blank" href="http://www.usphospitales.com/web/usp/home"><img
                        alt="USP Hospitales" src="../../../assets/img/usp.png" /></a></div>
            <div><a target="_blank" href="http://www.fundacionrecover.org/fundacionrecover/"><img
                        alt="Fundación Recover" src="../../../assets/img/recover.png" /></a></div>
        </div>
    </div>
</div>