<div class="image-arriere">

</div>
<div class="entete contenu shadow-1">
    <h1 class="fg-white" style="margin-top:5vh">
        <b style="text-transform: uppercase; font-size: 1.2em;">
            Enfance de
            Samuel Eto'o
        </b>
    </h1>
</div>
<div class="parties">
    <div class="partie">
        <div class="row">
            <div class="cell-lg-6">
                <div class="partie-texte">
                    <h2 style="margin-top: 0;">
                        LES DEBUTS AVEC LES BRASSERIES
                    </h2>
                    <div class="souligne"></div>
                    <p class="text-leader2 text-just">
                        Natif de Nkon, banlieue de Yaoundé, Samuel Eto'o Fils fait ses premiers pas dans le quartier de
                        Mvog-Ada, l'un de la capitale camerounaise.
                        Sur les terrains vagues bosselés, Samuel, fan de Roger Milla, dribble en liberté avant de
                        rejoindre l'Union camerounaise des brasseries de Douala. À treize ans et demi, l'attaquant
                        impose son style en deuxième division locale. Une poignée de buts et il débute avec les Cadets
                        camerounais, avant d'être surclassé.

                    </p>
                </div>
            </div>
            <div class="cell-lg-6 hauteur2">
                <div class="partie-image2" style="background-image: url('../../../../assets/img/femme2.jpg');">
                    <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true" data-controls="false"
                        data-bullets="false" data-cls-controls="fg-white" data-bullets-position="right"
                        data-duration="500" data-period="3000"
                        data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                        data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                        <div class="slide" data-cover="../../../../assets/img/brasseries.png"></div>
                        <div class="slide" data-cover="../../../../assets/img/brasseries2.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="partie">
        <div class="row">
            <div class="cell-lg-6 hauteur2">
                <div class="partie-image2" style="background-image: url('../../../../assets/img/femme2.jpg');">
                    <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true" data-controls="false"
                        data-bullets="false" data-cls-controls="fg-white" data-bullets-position="right"
                        data-duration="500" data-period="3000"
                        data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                        data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                        <div class="slide" data-cover="../../../../assets/img/ksa.jpg"></div>
                    </div>
                </div>
            </div>
            <div class="cell-lg-6">
                <div class="partie-texte">

                    <h2 style="margin-top: 0;">
                        L’EXPERIENCE FRANCAISE
                    </h2>
                    <div class="souligne"></div>
                    <p class="text-leader2 text-just">

                        Alors qu'il n'a que quinze ans, Samuel Eto'o rejoint la France pour tenter sa chance dans un
                        club européen. Arrivé à Marseille, il passe par Carpentras avant de rejoindre la capitale. Il ne
                        dispose alors que d'un visa de dix jours, bien insuffisant pour s'installer à Paris et ne peut
                        pas sortir régulièrement de son appartement, pour ne pas risquer d'être refoulé. Malgré les
                        difficultés d'intégration et celles liées au climat, Eto'o reste plusieurs mois à Paris avec sa
                        famille et demande à intégrer le centre de formation du Paris Saint-Germain, qui hélas n’aboutit
                        pas.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="partie">
        <div class="row">
            <div class="cell-lg-6">
                <div class="partie-texte">

                    <h2 style="margin-top: 0;">
                        ETO’O A LA KADJI SPORT ACADEMIE
                    </h2>
                    <div class="souligne"></div>
                    <p class="text-leader2 text-just">
                        De son retour de France, Il rentre au Cameroun et intègre l'école de football de la Kadji Sport
                        Academy basée à Douala. Le club du Havre, en partenariat avec l'académie et prioritaire sur les
                        joueurs, l'invite à un essai en Normandie. Eto'o reste près d'une semaine sur place mais n'est
                        pas retenu.
                    </p>
                </div>
            </div>
            <div class="cell-lg-6 hauteur">
                <div class="partie-image2" style="background-image: url('../../../../assets/img/femme2.jpg');">
                    <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true" data-controls="false"
                        data-bullets="false" data-cls-controls="fg-white" data-bullets-position="right"
                        data-duration="500" data-period="3000"
                        data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                        data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">

                        <div class="slide" data-cover="../../../../assets/img/ksa2.jpg"></div>
                        <div class="slide" data-cover="../../../../assets/img/ksa4.png"></div>
                        <div class="slide" data-cover="../../../../assets/img/ksa5.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="partie">
        <div class="row">
            <div class="cell-lg-6 hauteur">
                <div class="partie-image" style="background-image: url('../../../../assets/img/real.jpg');">

                </div>
            </div>
            <div class="cell-lg-6">
                <div class="partie-texte">

                    <h2 style="margin-top: 0;">
                        DE LA KADJI SPORT ACADEMIE AU REAL MADRID
                    </h2>
                    <div class="souligne"></div>
                    <p class="text-leader2 text-just">
                        Surclassé en équipe nationale, lors de sa première sortie avec les Juniors camerounais, Eto'o
                        signe un doublé malgré la défaite contre la Côte d'Ivoire (3-2). Il est surtout repéré par
                        Pirri, recruteur du Real Madrid, qui lui propose un essai. Dix jours après, Eto'o débarque en
                        Espagne.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>