<div class="image-arriere">

</div>
<div class="entete contenu">
    <h1 class="fg-white" style="margin-top:5vh">
        <b style="text-transform: uppercase; font-size: 1.2em;">
            Mot du président
        </b>
    </h1>
</div>
<div class="mot">
    <div class="row">
        <div class="cell-lg-4">
            <div class="image" style="margin-top: 0vh;">

            </div>
        </div>
        <div class="cell-lg-8">
            <div class="texte" style=" margin-left: 4vw;">
                <p class="text-leader2 text-just" style="margin-top: 5vh;">
                    Je n’ai professionnellement pas laissé passer « Mon occasion », car j’étais à l’endroit et au moment
                    appropriés pour arriver à briller dans ce qui me plaît le plus. Je rêvais de vivre mon expérience
                    actuelle sans freiner mon enthousiasme, car sans celui-ci rien n’est possible ; Et surtout pour les
                    enfants qui ne sont jamais coupables bien que ce soit toujours ceux qui souffrent le plus.
                </p>
                <p class="text-leader2 text-just">
                    Le football m’a tout donné et je me sens dans l’obligation de convenir aux miens. Il n’ya rien de
                    plus beau et qui me rende plus heureux que de partager avec ceux qui ont des difficultés. Et je suis
                    convaincu que, grâce au football, je pourrai rendre aux miens une partie de ce qu’ils m’ont donné.
                </p>
                <p class="text-leader2 text-just">
                    C’est pour cette raison que j’ai commencé un grand défi avec ma FONDATION PRIVEE afin d’unir tous
                    les efforts, aides et collaborations pour être, le plus possible avec ceux qui ont le plus besoin.
                    Cette structure aidera à obtenir l’intégration, l’éducation et la formation de beaucoup de ces
                    jeunes Camerounais.
                </p>
                <p class="text-leader2 text-just">
                    À tous ceux qui m’aident dans le projet et dans mon enthousiasme, à tous ceux qui ne laissent pas
                    passer l’occasion d’améliorer et d’aider les autres, à vous tous de tout cœur, merci beaucoup.
                </p>
                <p class="text-leader2 text-just">
                    M. Samuel Eto’o Fils, Président
                </p>

            </div>
        </div>
    </div>
</div>
