<div style="height: 100vh" data-role="carousel" data-period="5000" data-duration="500" data-bullets="false"
  data-auto-start="true" data-cls-controls="fg-white" data-bullets-position="center"
  data-height="@ (max-width: 992px),500 | (max-width: 768px),500 | (max-width: 576px),500"
  data-control-next="<span class='mif-chevron-right fg-white'></span>"
  data-control-prev="<span class='mif-chevron-left fg-white'></span>">

  <div class="slide">
    <div class="muanza-image-arriere" style="height: 100vh;">

    </div>
    <div style="height: 100vh; margin-top: -100vh; background-color: rgba(0,0,0,0.4)">
      <div class="muanza-block">
        <h1 class="titre fg-white" style="text-transform: uppercase; line-height: 0.9; text-align: left; margin-top: 20vh;">
          Prendre soin des plus 
          <span class="souligne">
            petits 
          </span>
        </h1>
        <div>
        </div>
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="muanza-image-arriere2" style="height: 100vh;">

    </div>
    <div style="height: 100vh; margin-top: -100vh; background-color: rgba(0,0,0,0.6)">
      <div class="muanza-block">
        <h1 class="titre fg-white" style="text-transform: uppercase; line-height: 0.9; text-align: left;  margin-top: -5vh;">
          <span style="font-size: 0.5em;">
            Pour en faire des 
          </span>
          <span style="font-size: 1.5em;">
            géants 

          </span>
        </h1>
      </div>
    </div>
  </div>

</div>