<div class="image-arriere">

</div>
<div class="entete contenu">
    <h1 class="fg-white" style="margin-top:5vh">
        <b style="text-transform: uppercase; font-size: 1.2em;">
            Contact
        </b>
    </h1>
</div>
<div style="height: 100vh;">
    <div class="contenu">
        <div class="row">
            <div class="cell-lg-6">
                <div>
                    <p class="text-leader2">
                        Boulevard de la libertée
                        Ancien Inmueble Saga - Face DHL Bonanjo
                        BP 3350 Douala (Camerún)
                    </p>
                    <p class="text-leader2">
                        Tél : + 237 33 42 73 21
                        <br>
                        Fax : 237 45 78 89
                    </p>
                    <p class="text-leader2">
                        info@fundacionsamueletoo.com
                    </p>
                    <p class="text-leader2">
                        <i class="mif-facebook">
    
                        </i>
                        <i class="mif-twitter">
    
                        </i>
                        <i class="mif-instagram">
    
                        </i>
                    </p>
    
                </div>
            </div>
            <div class="cell-lg-6">
                <div class="formulaire" style="margin-left: 5vw;">
                    <div>
                        <input data-role="input" placeholder="Nom*">
                    </div>
                    <div>
                        <input data-role="input" placeholder="Email*">
                    </div>
                    <div>
                        <input data-role="input" placeholder="Sujet*">
                    </div>
                    <div>
                        <textarea data-role="textarea" placeholder="Votre texte ici"></textarea>
                    </div>
                    <div style="margin-top: 3vh;">
                        <button class="button muanza">
                            Envoyer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>