<div class="image-arriere" style="height: 150vh;">

</div>
<div class="contenu" style="margin-top: -150vh;">
    <h1 class="fg-white">
        <b>
            La fondation privee samuel eto'o
        </b>
    </h1>
    <div class="row cadre shadow-3">
        <div class="cell-lg-6 bg-gris">
            <h1 class="text-center">
                <b style="font-size: 1.2em;">
                    Protéger la jeunesse
                </b>
            </h1>
        </div>
        <div class="cell-lg-6" style="background-color: rgba(255, 255, 255, 1)">
            <p class="text-leader2">
                La Fondation Privée Samuel Eto’o, créée en mars 2006, est constituée comme une organisation à but non
                lucratif dont les activités se concentrent principalement en Afrique Occidentale.
            </p>
            <p  class="text-leader2">
                Notre Fondation prétend utiliser ce facteur avec responsabilité et engagement et sensibiliser de cette
                manière notre société sur les besoins d’un continent comme l'Afrique.
            </p>
            <p  class="text-leader2">
                Notre objectif est de protéger l’enfance et la jeunesse, en apportant des aides d’urgence et en
                encourageant l’éducation, la santé de base et l'intégration sociale pour les plus défavorisés, afin de
                les aider à construire des opportunités pour l'avenir.
            </p>

        </div>
    </div>

    <div class="text-center" style="margin-top: 20px;">
        <button (click)="fondation()" class="button">
            En savoir plus
        </button>
    </div>
</div>