<div class="image-arriere">

</div>
<div class="entete contenu">
    <h1 class="fg-white" style="margin-top:3vh">
        <b style="text-transform: uppercase; font-size: 1.2em;">
            Réalisations
        </b>
    </h1>
    <div class="fg-white text-leader" style="margin-top: -15px;">
        Santé
    </div>
</div>
<div style="min-height: 100vh;">
    <div class="projets">
        <div class="row">
            <div class="cell-lg-6">
                <div class="projet">
                    <div class="image">
                        <div class="interne">
                            <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true" data-controls="false"
                                data-bullets="false" data-cls-controls="fg-white" data-bullets-position="right"
                                data-duration="500" data-period="3000" data-height="16/9"
                                data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">
        
                                <div class="slide" data-cover="../../../../assets/img/sante1.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/sante6.png"></div>
                                <div class="slide" data-cover="../../../../assets/img/sante7.png"></div>
                                <div class="slide" data-cover="../../../../assets/img/sante8.png"></div>
                                <div class="slide" data-cover="../../../../assets/img/sante9.png"></div>
                                <div class="slide" data-cover="../../../../assets/img/sante10.png"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        2008 / Actuellement
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Projet “Aide en apport de moyens sanitaire : don d’un pavillon pédiatrique à Douala, ”
                        </h4>
                        <p class="texte" style="">

                            Ville, pays : Douala, Cameroun
                            Bénéficiaires : 2.000.000 de façon directe
                            Montant total : 700 millions FCFA
                            Cofinanceur : (aucun)
                            Résultat : meilleure prise en charge des enfants
                            Année de réalisation : 2017
                            Durée : Indéterminée


                        </p>
                        <p class="text-just">
                            Ce pavillon, dont le coût est estimé à près de 700 millions de FCFA, est gracieusement
                            offert par l’international camerounais à l’Etat du Cameroun, représenté par le ministre de
                            la Santé.
                            <br>
                            D’une capacité d’une quarantaine de lits et entièrement équipé, le centre des urgences et de
                            réanimation pédiatriques Samuel Eto’o permettra, selon le ministre de la Santé publique
                            André Mama Fouda, de réduire considérablement le taux de mortalité infantile et va favoriser
                            une prise en charge efficace de l’urgence pédiatrique.
                            Samuel Eto’o fils, qui a grandi à Douala a, pour la circonstance, reçu des mains de Fritz
                            Ntoné Ntoné, délégué du gouvernement auprès de la Communauté urbaine de Douala, une clé
                            faisant de lui un citoyen d’honneur de la capitale économique du Cameroun.



                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projet">
                    <div class="image">
                        <div class="interne">
                            <img src="../../../../assets/img/sante3.png" style="width: 100%;">
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        2008 / Actuellement
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Projet : “Assistance hospitalière à des enfants du Cameroun atteints de maladies importantes
                            difficilement opérables dans le pays”
                        </h4>
                        <p class="texte" style="">

                            Ville, pays: Douala. Cameroun
                            Montant total:
                            Cofinanceur: USP Fundación Álex, Doctor Ramón Cugat, Clínica Dental y Clínica Segordent.
                            Résultat: 5 enfants qui en bénéficient
                            Année de réalisation : 2012
                            Durée: Indéterminée


                        </p>
                        <p class="text-just">
                            Il existe au sein de la Fondation un comité d’étude des cas graves qui requièrent une
                            opération ou une intervention médicale en Europe, et nous faisons le nécessaire pour assurer
                            l’intervention, l’hospitalisation et assumer les frais.

                            En 2007, deux opérations ont été effectuées sur des bébés de 7 et 13 mois atteints
                            d’hydrocéphalie avancée.

                            En 2008, la Fondation Samuel Eto’o et USP Fundación Alex sont parvenues à un accord pour
                            offrir une assistance hospitalière aux enfants du Cameroun, âgés entre 1 et 14 ans, atteints
                            de maladies difficilement opérables dans le pays.

                            En 2009, la fondation a accueilli pendant 3 mois à Barcelone un enfant orphelin de 3 ans
                            pour qu’il suive un traitement de correction du rachitisme dont il était atteint.
                            L’intervention a été menée à bien par le Docteur Ramón Cugat.

                            En 2010, nous avons fait en sorte que deux enfants de 11 et 14 ans atteints de caries aigües
                            qui entrainaient chez eux des troubles alimentaires, physiques et psychologiques suivent un
                            traitement dentaire.


                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projet">
                    <div class="image">
                        
                        <div class="interne">
                            <div data-role="carousel" data-cls-bullet="bullet-big" data-auto-start="true" data-controls="false"
                                data-bullets="false" data-cls-controls="fg-white" data-bullets-position="right"
                                data-duration="500" data-period="3000" data-height="16/9"
                                data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
                                data-control-prev="<span class='mif-chevron-left fg-cyan'></span>">
        
                                <div class="slide" data-cover="../../../../assets/img/ambulance.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/ambulance2.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/ambulance3.jpg"></div>
                                <div class="slide" data-cover="../../../../assets/img/don.png"></div>
                                <div class="slide" data-cover="../../../../assets/img/don2.png"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        2008 / Actuellement
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Projet “Aide en apport de matériel sanitaire : don des ambulances au ministère de la santé”
                        </h4>
                        <p class="texte" style="">

                            Ville, pays: Douala et Garoua, Cameroun
                            Bénéficiaires: 2.000.000 de façon directe
                            Montant total: 200.000 €
                            Cofinanceur: (aucun)
                            Résultat: mejora en asistencia medica
                            Année de réalisation : 2008
                            Durée : Indéterminée

                        </p>
                        <p class="text-just">
                            Samuel Eto’o est Ambassadeur de Bonne Volonté du Comité Espagnol de l’UNICEF et son travail
                            est focalisé sur la prévention du VIH/SIDA, particulièrement parmi les jeunes.

                            Nous voulons prévenir et sensibiliser sur le thème des maladies transmissibles les plus
                            risquées pendant l’adolescence, comme celles qui sont transmises sexuellement (ITS) et le
                            VIH/SIDA, dont l'indice est élevé au Cameroun en raison du manque de moyens.

                            Nous apportons notre soutien aux Centres d’Information, d’Éducation et d’Assistance Amis des
                            Jeunes (YFCIEC) consacrés à favoriser l’expression, le dialogue, l’éducation sexuelle et les
                            échanges entre les jeunes.


                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-lg-6">
                <div class="projet">
                    <div class="image">
                        <div class="interne">
                            <img src="../../../../assets/img/sante2.png" style="width: 100%;">
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        2008 / Actuellement
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Projet “Création d’un programme d’écoles saines en matière de santé bucco-dentaire, à
                            travers la formation des enseignants”.
                        </h4>
                        <p class="texte" style="">

                            Ville, pays : Yaoundé, Cameroun
                            Bénéficiaires : 3.200 de façon directe
                            Montant total : 5.000 € annuels
                            Collaborateur : Asociación Zeca y Lejos
                            Résultat : Hygiène Buccodentaire
                            Année de réalisation : 2010
                            Durée : 1 an

                        </p>
                        <p class="text-just">
                            En janvier 2009, il n'existait dans ce pays que 120 odontologistes pour 18 millions
                            d'habitants, et parmi eux, seuls ceux qui ont un pouvoir d'achat élevé y ont accès (C.D.A.,
                            O.M.S 2007).

                            Il n’existe aucune mesure relative à la population ou historique de réduction des maladies
                            orales et seules quatre études épidémiologiques se référant à la situation du pays sur le
                            thème de la santé orale sont publiées.

                            Étant donné cette réalité, nous avons créé en collaboration avec l’association Zerca y
                            Lejos-ONGD un programme d’écoles saines en matière de santé bucco-dentaire à travers la
                            formation des enseignants.

                            Pour cette première année, nous allons mener à bien prophylaxies, fluorisations,
                            distribution de dentifrices et de brosses à dents, et donner des conférences avec dynamique
                            de groupe à un total de 3.200 élèves de 10 à 20 ans de l'institut Samba à Yaoundé,
                            accompagnés de leurs professeurs.


                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="projet">
                    <div class="image">
                        <div class="interne">
                            <img src="../../../../assets/img/sante4.png" style="width: 100%;">
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        2008 / Actuellement
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Projet “Sensibilisation sur le VIH/sida”
                        </h4>
                        <p class="texte" style="">

                            Ville, pays: Douala. Cameroun
                            Bénéficiaires : 1.500 de façon directe
                            Montant total: 5.000 € annuels
                            Cofinanceur: (aucun)
                            Année de réalisation : 2008
                            Durée: Indéterminée


                        </p>
                        <p class="text-just">
                            Samuel Eto’o est Ambassadeur de Bonne Volonté du Comité Espagnol de l’UNICEF et son travail
                            est focalisé sur la prévention du VIH/SIDA, particulièrement parmi les jeunes.

                            Nous voulons prévenir et sensibiliser sur le thème des maladies transmissibles les plus
                            risquées pendant l’adolescence, comme celles qui sont transmises sexuellement (ITS) et le
                            VIH/SIDA, dont l'indice est élevé au Cameroun en raison du manque de moyens.

                            Nous apportons notre soutien aux Centres d’Information, d’Éducation et d’Assistance Amis des
                            Jeunes (YFCIEC) consacrés à favoriser l’expression, le dialogue, l’éducation sexuelle et les
                            échanges entre les jeunes.

                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-lg-6">
            </div>
        </div>
    </div>
</div>