<div class="row">
    <div class="cell-lg-6">
        <div class="contenu">
            <h1>
                À Propos de moi
            </h1>
            <p class="text-leader2 text-just" style="padding-top: 2vh;">
                Samuel Eto'o Fils,né le 10mars 1981 à Nkon (Douala), au Cameroun, est un footballeur international
                camerounais évoluant au poste d'attaquant.
                Il possède également un passeport espagnol.
            </p>
            <p class="text-leader2 text-just">
                Considéré comme l'un des meilleurs footballeurs au monde de sa génération et l'un des meilleurs joueurs
                africains de tous les temps, Samuel Eto'o a marqué plus de 130 buts en cinq saisons avec le FC
                Barcelone. En 2009 avec le club espagnol, puis en 2010 avec l'Inter Milan, il est devenu le premier et
                le seul joueur à remporter deux triplés (Championnat-Ligue des champions-Coupe) consécutifs.
            </p>
            <div style="margin-top: 5vh; ">
                <button (click)="samuel()" class="button muanza text-leader2" style="font-weight: 100;">
                    En savoir plus
                </button>
            </div>
        </div>
    </div>
    <div class="cell-lg-6">
        <div class="image-arriere">
            <div class="image">

            </div>
        </div>
    </div>
</div>