<div class="image-arriere">

</div>
<div class="entete contenu">
    <h1 class="fg-white" style="margin-top:5vh">
        <b style="text-transform: uppercase; font-size: 1.2em;">
            Equipe
        </b>
    </h1>
</div>
<div class="contenu">
    <div class="row">
        <div class="cell-lg-4">
            <div class="muanza-image-conteneur">
                <img src="../../../../assets/img/photo.jpeg" class="muanza-image">
            </div>
            <div class="muanza-texte">
                <h4>
                    Samuel Eto'o fils
                </h4>
                <small>
                    Président
                </small>
            </div>
        </div>
        <div class="cell-lg-8">
            <div class="equpe-contenu">
                <div class="row">
                    <div class="cell-lg-4">
                        <div class="muanza-image-conteneur">
                            <img src="../../../../assets/img/user.png" class="muanza-image">
                        </div>
                        <div class="muanza-texte">
                            <h4>
                                Alejandro echevarria
                            </h4>
                            <small>
                                Vice-Président
                            </small>
                        </div>
                    </div>
                    <div class="cell-lg-4">
                        <div class="muanza-image-conteneur">
                            <img src="../../../../assets/img/user.png" class="muanza-image">
                        </div>
                        <div class="muanza-texte">
                            <h4>
                                Albert Escoda 
                            </h4>
                            <small>
                                Trésorier
                            </small>
                        </div>
                    </div>
                    <div class="cell-lg-4">
                        <div class="muanza-image-conteneur">
                            <img src="../../../../assets/img/user.png" class="muanza-image">
                        </div>
                        <div class="muanza-texte">
                            <h4>
                                Hermine Hisson 
                            </h4>
                            <small>
                                Directrice Générale
                            </small>
                        </div>
                    </div>
                    <div class="cell-lg-4">
                        <div class="muanza-image-conteneur">
                            <img src="../../../../assets/img/user.png" class="muanza-image">
                        </div>
                        <div class="muanza-texte">
                            <h4>
                                Joseph Siewe Diallo 
                            </h4>
                            <small>
                                Directeur Fundes Sport
                            </small>
                        </div>
                    </div>
                    <div class="cell-lg-4">
                        <div class="muanza-image-conteneur">
                            <img src="../../../../assets/img/user.png" class="muanza-image">
                        </div>
                        <div class="muanza-texte">
                            <h4>
                                Alma Marin
                            </h4>
                            <small>
                                Responsable Département Communication
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>