<div class="image-arriere">

</div>
<div class="entete contenu">
    <h1 class="fg-white" style="margin-top:3vh">
        <b style="text-transform: uppercase; font-size: 1.2em;">
            Réalisations
        </b>
    </h1>
    <div class="fg-white text-leader" style="margin-top: -15px;">
        Education
    </div>
</div>
<div style="min-height: 100vh;">
    <div class="projets">
        <div class="row">
            <div class="cell-lg-6">
                <div class="projet">
                    <div class="image">
                        <div class="interne">
                            <img src="../../../../assets/img/education.png" style="width: 100%;">
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="cell-2">
                                <img src="../../../../assets/img/logo.webp" style="width: 100%;">
                            </div>
                            <div class="cell-8">
                                <h6 style="margin: 2px; padding: 0;">
                                    Fondation Samuel ETO'O
                                </h6>

                                <div style="margin-top: -5px;">
                                    <small>
                                        2008 / Actuellement
                                    </small>
                                </div>
                            </div>
                            <div class="cell-2">
                                <h6 style="margin: 2px; padding: 0; text-align: right;">
                                    <i class="mif-more-vert"></i>
                                </h6>
                            </div>
                        </div>
                        <h4 style="color: #444; text-transform: uppercase;">
                            Bourses “Fondation Privée Samuel Eto’o”
                        </h4>
                        <p class="texte" style="">

                            Ville, país: Yaoundé. Cameroun
                            Bénéficiaires: 130 directos al año
                            Montant total: 50.000 € anuales
                            Résultat: Insertion professionnelle
                            Année de réalisation : 2008
                            Durée: Indeterminada


                        </p>
                        <p class="text-just">
                            Nous travaillons depuis 2006 sur le projet Fundesport, un centre gratuit de formation
                            sportive, où nous accueillons 80 enfants par an auxquels nous offrons la scolarisation en
                            les stimulant avec la pratique du football.

                            Depuis 2008, nous concédons chaque année 80 bourses aux meilleurs étudiants de l’Université
                            de Yaoundé SOA II. C’est Samuel Eto’o en personne qui remet ces aides aux étudiants lors de
                            cérémonies où sont présents le Recteur de l’Université, M. Tabi, d’autres représentants de
                            la communauté universitaire et des personnalités du pays.

                            En 2010, nous avons également fait un effort important avec la livraison de matériel
                            informatique à l’Université de Yaoundé Soa II.


                        </p>
                        <div class="row" style="font-weight: 100;">
                            <div class="cell-2">
                                <small>
                                    1 Vue
                                </small>
                            </div>
                            <div class="cell-8">
                                <small>
                                    Rediger un commentaire
                                </small>
                            </div>
                            <div class="cell-2" style="text-align: right;">
                                <i class="mif-heart fg-red"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>